[2018-01-08 09:48] ktf commented on #977
@PascalBoeschoten can you please look into this?

[2018-01-08 09:51] ktf commented on #950
Closing this in favour of the PR.

[2018-01-08 09:51] #950 closed

[2018-01-10 15:17] PascalBoeschoten commented on #977
@davidrohr @ktf made PR: #980

[2018-01-17 09:58] qgp opened #986 "New repository rivet-hi"
Hi,

could you please create a new repository rivet-hi with the privileges for me as for other PWG-MM packages?

We need this to develop and deploy a forked version of Rivet with additional HI support.

Cheers,
   Jochen

[2018-01-22 13:34] #703 closed

[2018-01-24 16:26] mfasDa opened #994 "Problem with ROOT v6-12-04 and AliPhysicsSelection"
In #987 the default ROOT version was moved to v6-12-04. Note that I observed a crash with the AliPhysicsSelection (see below). The crash seems to be related to a new implementation in this ROOT version (RecursiveRemove) and not obviously related to implementation problems on the ALICE side. Affected by this are macOS HighSierra users which try to run local lego train tests for trains including the

[2018-01-26 08:59] dberzano commented on #994
Hi Markus, this is not the only problem with that version of ROOT 6, apparently. Have a look [here](https://sft.its.cern.ch/jira/browse/ROOT-9158)... guess we'll have to roll back the `defaults-root6.sh` one, which I just did.

That ROOT version also has problems with Run3 software.

@mfasDa would it be possible to have an AliRoot `ctest` to reproduce this?

[2018-01-26 09:01] #994 closed

[2018-01-26 09:17] mfasDa commented on #994
Indeed I have seen also problems with o2. For what concerns the ctest: A simple TH2::Fill of the histogram doesn't reproduce this problem so I my suspicion is that it has something to do with the environment, in particular file handles. A ctest would need to launch an analysis on a couple of events in order to trigger the function call. Not sure where we can put the esd/aod files for the test.

[2018-01-26 09:22] mfasDa commented on #994
@dberzano Another thing: For debugging the ROOT team needs a way to reproduce the crash, which includes having access to some test data and eventually the OCDB.

[2018-01-26 10:53] victor-gonzalez commented on #994
Hi @mfasDa, it is no a simple TH2::Fill, is a Fill over an histo which have the can expand flag activated, that's why the stack trace travels through TH1::LabelsInflate. It happens really early in the FillStatistics method of the physics selection task so probably they have not included labels in the histo and they are expanded on the way.

[2018-01-26 11:07] mfasDa commented on #994
@victor-gonzalez Indeed also the simple fill with labels was tested and the crash was not reproducible. It doesn't matter how the labels are called, the crash should happen there.

With the debugger I see that this happens for the second entry. I have the suspicion with the latest changes there are some double deletes in TList::Clear, at least I see similar issues in other places. Also it fits in

[2018-01-26 11:20] victor-gonzalez commented on #994
@mfasDa I agree, it is not a problem from the physics selection. It is the expansion of the axis. Have you tried an histo without defining the length of the axis and with the can expand flag, as them
[code]

[2018-01-26 11:33] mfasDa commented on #994
I tried the following simple macro, which didn't show the problem:

[code]

Someone from the ROOT team tried a similar macro and also failed to reproduce the issue.

[2018-01-26 12:06] victor-gonzalez commented on #994
I see.
The only difference as I can say is that they are using a set of few TH1 with exactly the same name than this TH2. It should not matter but if something is wrong it definitely could.

[2018-02-02 07:53] awegrzyn commented on #977
The same happens with `grpc`:
[code]
What about not treating this warning as error in dependencies that we don't maintain?

[2018-02-02 10:48] ktf commented on #977
That would need to be done on a recipe by recipe basis, though. `-Werror=implicit-fallthrough=` is not set by us, but it's a new GCC default. In the end it might actually be easier to move to a newer version of the external which actually fixes the problem.

[2018-02-02 11:21] PascalBoeschoten commented on #977
I would agree that in general we should move to newer versions, but sometimes this is non-trivial and a lot harder than adding a compiler flag. At least in the case of 3rd party libraries, I don't think this new GCC warning gives us any benefits.

[2018-02-02 11:39] ktf commented on #977
Agreed, but blindly adding a compiler flag everywhere is not something we should do, for the sake of simplicity and maintainability. So if the fastest route is to simply hack one recipe while we prepare for the next version, fine with me, but do not expect global support for this as that is a shortcut, not a proper solution.

In this particular case I am actually surprised that you say that moving

[2018-02-02 12:48] ktf commented on #921
Can we close this?

[2018-02-02 13:14] PascalBoeschoten commented on #977
That was not referring to a particular case, just a general comment.

[2018-02-02 14:20] dberzano commented on #977
OK so let's try to bump RapidJSON to see if it fixes the problem upstream.

[2018-02-02 14:24] ktf commented on #977
@PascalBoeschoten Ok, agreed then.

Notice however that the most common case where updating might not be OK is actually ROOT and in that case we do want to see all the possible errors and warnings that a new compiler gives us, because chances are they are genuine issues which we do not want to mask (at least that's my personal experience).

[2018-02-02 14:51] dberzano commented on #921
Yes, it has indeed been addressed.

[2018-02-02 14:51] #921 closed

[2018-02-06 11:45] qgp commented on #986
ping @ktf @dberzano

FYI: @jgrosseo, @pkarczma

[2018-02-06 12:15] ktf commented on #986
I missed your initial message, sorry.

https://github.com/alisw/rivet-hi

is now there. Please remember to follow the policy at:

https://github.com/alisw/alidist/#guidelines-for-handling-externals-sources

as usual and make sure you add it to the pwgmm owned externals in the documentation.

[2018-02-06 12:15] #986 closed

[2018-02-06 12:16] #911 closed

[2018-02-06 12:21] ktf commented on #838
They changed the way SSO works, so in any case this requires more massaging, even if it compiles.

[2018-02-08 13:15] knopers8 opened #1015 "FairRoot uses wrong ROOT during compilation"
I have 'standalone' ROOT installed on the system.

During aliBuilding, FairROOT seems to be using root-config in` /usr/bin/root-config` instead of the one in the ROOT compiled with aliBuild ( `/home/pkonopka/alice/sw/slc7_x86-64/ROOT/v6-12-04-1/bin/root-config` in my case ), which fails compilation. E.g.
[code]

Doing `mv /usr/bin/root-config /usr/bin/.root-config` helps.

[2018-02-14 12:03] adriansev opened #1018 "xrootd 3.3.6 :: openssl error as it is picked from system"
Hi! It seems that on fedora 26 openssl is picked from system (version 1.1.0) which gives errors like :
/home.hdd/physics-tools/ALIBUILD/sw/SOURCES/XRootD/v3.3.6-alice2/v3.3.6-alice2/src/XrdCrypto/XrdCryptosslAux.cc:447:64: error: invalid use of incomplete type ‘EVP_PKEY {aka struct evp_pkey_st}’
                      if (PEM_read_bio_RSAPrivateKey(bkey,&(evpp->pkey.rsa),0,0)) {

for all usage of x

[2018-02-14 15:40] dberzano commented on #1018
Hi Adrian, on Fedora 26 and 27 you need to install an older version of OpenSSL. We are not building/enabling our own (which is obsolete and serves some production purposes only).

[code]

This is a workaround on your system.

Note that it is extremely tricky to provide support for Fedora systems given their, er, "bleeding-edge" update policy (and at the moment, for other reasons, O2 does not build

[2018-02-14 15:42] dberzano commented on #969
Closing as this ticket is old and we cannot reproduce it (the GCC version under `/cvmfs/alice.cern.ch/etc/toolchain/modulefiles/el6-x86_64/Toolchain` was produced using the recipes that fail for you, on SLC6).

[2018-02-14 15:42] #969 closed

[2018-02-14 15:42] #840 closed

[2018-02-14 15:42] #651 closed

[2018-02-14 15:44] dberzano commented on #1015
Hi @knopers8, this is a FairRoot issue and it should be reported to them. Probably, even if our ROOT has priority in PATH, they will consider a system-installed ROOT first. You should entirely remove your system ROOT installation in my opinion, for a full fix.

[2018-02-14 15:44] #1015 closed

[2018-02-14 16:20] adriansev commented on #1018
Thanks for info! i imagined that i need the compat packages but i thought that usage of alidist packages would be the correct one .. Thanks!

[2018-02-14 16:20] #1018 closed

[2018-02-15 11:08] dstocco commented on #838
Ciao Giulio,
ok thanks for the info!
In that case I'll try to find another way to access the ALICE webpages command-line from Mac.

Ciao,
Diego

[2018-02-28 12:37] awegrzyn opened #1032 "ROOT v6-12-04 compilation fails on macOS"
**Command**: `aliBuild build O2 --default o2-dataflow`
**macOS**: 10.13.3 (17D102)
**Clang**: 9.0.0 (clang-900.0.39.2)
**CMake**: v3.9.4
**Autotools**: v1.5.0

**Error log:**
[code]

**The content of the `TBB-build-err.log` file:**
[code]

[2018-02-28 13:31] awegrzyn opened #1033 "ZeroMQ v4.1.5 compilation fails on macOS"
**Command**: `aliBuild build O2 --default o2-dataflow`
**macOS**: 10.13.3 (17D102)
**Clang**: 9.0.0 (clang-900.0.39.2)
**CMake**: v3.9.4
**Autotools**: v1.5.0

Error when running `./autogen.sh`:
[code]

[2018-02-28 13:56] awegrzyn commented on #1033
This following line in `~/.profile` file was causing the compilation to fail:
[code]

[2018-02-28 13:56] #1033 closed

[2018-02-28 14:07] awegrzyn commented on #1032
This following line in `~/.profile` file was causing the compilation to fail:
[code]

[2018-02-28 14:07] #1032 closed

[2018-02-28 14:34] awegrzyn opened #1034 "FairRoot alice-dev-20180215 compilation fails on OS X"
I verified this one on two machines:
[code]

[2018-02-28 14:42] awegrzyn commented on #1034
@dennisklein @ktf @dberzano any idea?

[2018-02-28 15:06] dberzano commented on #1034
This is truly bizarre. I cannot reproduce it on any of my Macs (mine, plus the two pull request testers, which evidently are working). What alidist version are you using?

[2018-02-28 15:37] awegrzyn commented on #1034
aliBuild 1.5.3, alidist master (ff78ea45672f30bd1bfc17a13bf6e513e183257b).

[2018-02-28 15:40] dberzano commented on #1034
Can you post the output of `env` (by editing potentially sensitive information) please?

[2018-02-28 15:45] awegrzyn commented on #1034
Here you go:
[code]

[2018-02-28 16:00] awegrzyn commented on #1034
@dberzano So I've noticed that `${FORTRAN_LIBDIR}` is empty. In addition if I try to compile `pythia` it fails due to `No CMAKE_Fortran_COMPILER could be found.`

[2018-02-28 16:02] dberzano commented on #1034
Hi, [this place](https://alice-doc.github.io/alice-analysis-tutorial/building/) tells you how to get a Fortran compiler on Mac :-)

[2018-02-28 16:16] awegrzyn commented on #1034
Uff, indeed it works now! Thanks.
I think this must be added to the checks. How come this hasn't caused troubles before?

[2018-03-02 11:04] dberzano commented on #1034
You are right. We have a check but it's in the GCC-Toolchain recipe, which is not loaded at all on macOS.

[2018-03-13 16:18] matthiasrichter commented on #582
I'm closing the issue. There has been some adjustment in #834 and #700 quite a while ago.

@ktf, @dennisklein feel free to open another issue if some other problems need to be fixed in DDS or FairRoot.

[2018-03-13 16:18] #582 closed

[2018-03-13 20:42] matthiasrichter commented on #895
This doesn't seem to be a problem any more, can not reproduce with latest alibuild/alidist, closing ...

[2018-03-13 20:42] #895 closed

[2018-03-13 20:43] matthiasrichter commented on #722
Probably not relevant any more as there are no other complains, closing

[2018-03-13 20:43] #722 closed

[2018-03-13 20:45] matthiasrichter commented on #730
@dberzano, should we close this?

[2018-04-12 01:57] yslai opened #1079 "alibuild_helpers.utilities.prunePaths undefines essential Cray PE environment variables"
Apologies, belongs to alibuild

[2018-04-12 02:17] #1079 closed

[2018-04-19 14:56] davidrohr opened #1089 "cmake check for version 3.5.? fails with 3.10"
The cmake recipe fails to detect the correct version of system cmake, treating 3.10 like 3.1, and thus as too old.

[2018-04-23 07:56] ktf commented on #1089
@brinick can you please look into this? Thanks.

[2018-04-24 06:13] alibuild opened #1093 "Error while checking branch master@8c37d1a3a9729669afc3da375fd203bb25072e69:750bc927f2"
Error while checking build/O2/alidist for 8c37d1a3a9729669afc3da375fd203bb25072e69:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/8c37d1a3a9729669afc3da375fd203bb25072e69/build_O2_alidist/fullLog.txt).

[2018-04-24 06:48] alibuild commented on #1093
Error for commit 8c37d1a3a9729669afc3da375fd203bb25072e69 has changed.
Error while checking build/O2/alidist for 8c37d1a3a9729669afc3da375fd203bb25072e69:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/8c37d1a3a9729669afc3da375fd203bb25072e69/build_O2_alidist/fullLog.txt).

[2018-04-24 07:53] alibuild commented on #1093
Branch was updated. Closing issue.

[2018-04-24 07:53] #1093 closed

[2018-04-24 07:53] alibuild opened #1097 "Error while checking branch master@30c6f4c12f32ca350fff2cbc80e63f5c1fee8783:c2430e8668"
Error while checking build/O2/alidist for 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/30c6f4c12f32ca350fff2cbc80e63f5c1fee8783/build_O2_alidist/fullLog.txt).

[2018-04-24 09:15] alibuild commented on #1097
Error for commit 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783 has changed.
Error while checking build/O2/alidist for 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/30c6f4c12f32ca350fff2cbc80e63f5c1fee8783/build_O2_alidist/fullLog.txt).

[2018-04-24 11:10] alibuild commented on #1097
Error for commit 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783 has changed.
Error while checking build/O2/alidist for 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/30c6f4c12f32ca350fff2cbc80e63f5c1fee8783/build_O2_alidist/fullLog.txt).

[2018-04-24 11:24] alibuild commented on #1097
Error for commit 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783 has changed.
Error while checking build/O2/alidist for 30c6f4c12f32ca350fff2cbc80e63f5c1fee8783:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/30c6f4c12f32ca350fff2cbc80e63f5c1fee8783/build_O2_alidist/fullLog.txt).

[2018-04-24 13:55] alibuild commented on #1097
Branch was updated. Closing issue.

[2018-04-24 13:55] #1097 closed

[2018-04-24 13:55] alibuild opened #1098 "Error while checking branch master@422fbecc4fbc92c5d9b7c9dc53c1156b1723061e:ae17129cd4"
Error while checking build/O2/alidist for 422fbecc4fbc92c5d9b7c9dc53c1156b1723061e:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/422fbecc4fbc92c5d9b7c9dc53c1156b1723061e/build_O2_alidist/fullLog.txt).

[2018-04-25 21:16] alibuild commented on #1098
Branch was updated. Closing issue.

[2018-04-25 21:16] #1098 closed

[2018-04-25 21:16] alibuild opened #1101 "Error while checking branch master@493be4fa34f73690c6bac5475dee93d43509905a:dba35d2f90"
Error while checking build/O2/alidist for 493be4fa34f73690c6bac5475dee93d43509905a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/493be4fa34f73690c6bac5475dee93d43509905a/build_O2_alidist/fullLog.txt).

[2018-04-26 03:49] alibuild commented on #1101
Error for commit 493be4fa34f73690c6bac5475dee93d43509905a has changed.
Error while checking build/O2/alidist for 493be4fa34f73690c6bac5475dee93d43509905a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/493be4fa34f73690c6bac5475dee93d43509905a/build_O2_alidist/fullLog.txt).

[2018-04-26 10:12] alibuild commented on #1101
Error for commit 493be4fa34f73690c6bac5475dee93d43509905a has changed.
Error while checking build/O2/alidist for 493be4fa34f73690c6bac5475dee93d43509905a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/493be4fa34f73690c6bac5475dee93d43509905a/build_O2_alidist/fullLog.txt).

[2018-04-26 19:31] alibuild commented on #1101
Branch was updated. Closing issue.

[2018-04-26 19:31] #1101 closed

[2018-04-26 19:31] alibuild opened #1104 "Error while checking branch master@0d6d37f09658aec8f689733b512b8ad1b8cf5780:502fd60324"
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/493be4fa34f73690c6bac5475dee93d43509905a/build_O2_alidist/fullLog.txt).

[2018-04-27 08:57] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-27 10:00] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-27 12:31] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-27 18:06] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-27 18:51] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-28 13:12] alibuild commented on #1104
Error for commit 0d6d37f09658aec8f689733b512b8ad1b8cf5780 has changed.
Error while checking build/O2/alidist for 0d6d37f09658aec8f689733b512b8ad1b8cf5780:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/0d6d37f09658aec8f689733b512b8ad1b8cf5780/build_O2_alidist/fullLog.txt).

[2018-04-29 17:25] alibuild commented on #1104
Branch was updated. Closing issue.

[2018-04-29 17:25] #1104 closed

[2018-04-29 17:25] alibuild opened #1106 "Error while checking branch master@571ecf09a47e01567fff1d7700d90c58e2d3c03a:9e31125648"
Error while checking build/O2/alidist for 571ecf09a47e01567fff1d7700d90c58e2d3c03a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/571ecf09a47e01567fff1d7700d90c58e2d3c03a/build_O2_alidist/fullLog.txt).

[2018-04-30 23:39] alibuild commented on #1106
Branch was updated. Closing issue.

[2018-04-30 23:39] #1106 closed

[2018-04-30 23:39] alibuild opened #1108 "Error while checking branch master@2a4b84b2af75126842487e675e74f5351302abe8:fd0d112f5a"
Error while checking build/O2/alidist for 2a4b84b2af75126842487e675e74f5351302abe8:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/2a4b84b2af75126842487e675e74f5351302abe8/build_O2_alidist/fullLog.txt).

[2018-05-01 14:40] alibuild commented on #1108
Branch was updated. Closing issue.

[2018-05-01 14:40] #1108 closed

[2018-05-01 14:40] alibuild opened #1109 "Error while checking branch master@957623b209940796c2846f3a9edd0f1d61ad7194:6f12996023"
Error while checking build/O2/alidist for 957623b209940796c2846f3a9edd0f1d61ad7194:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/957623b209940796c2846f3a9edd0f1d61ad7194/build_O2_alidist/fullLog.txt).

[2018-05-02 09:32] ktf opened #1111 "New Geant4 breaks O2?"
I looks to me like the rebuild of Geant4 is breaking O2. @dberzano can you check?

[2018-05-02 10:00] ktf commented on #1089
Isn't this fixed by https://github.com/alisw/alidist/issues/1089 ? Or you mean for AliRoot?

[2018-05-02 10:25] ktf commented on #1111
Error I see is:

[code]

[2018-05-02 10:54] sawenzel opened #1112 "Bump FairRoot tag"
We need a new FairRoot tag, containing at least commit 3b01d287cdd.

This is needed in order to merge https://github.com/AliceO2Group/AliceO2/pull/1044.

[2018-05-02 13:27] alibuild commented on #1109
Branch was updated. Closing issue.

[2018-05-02 13:27] #1109 closed

[2018-05-02 13:27] alibuild opened #1113 "Error while checking branch master@08e6952c747b86a2da04fbd4926858d1cfe0a4e4:b7bf521e3a"
Error while checking build/O2/alidist for 08e6952c747b86a2da04fbd4926858d1cfe0a4e4:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/08e6952c747b86a2da04fbd4926858d1cfe0a4e4/build_O2_alidist/fullLog.txt).

[2018-05-02 14:07] alibuild commented on #1113
Error for commit 08e6952c747b86a2da04fbd4926858d1cfe0a4e4 has changed.
Error while checking build/O2/alidist for 08e6952c747b86a2da04fbd4926858d1cfe0a4e4:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/08e6952c747b86a2da04fbd4926858d1cfe0a4e4/build_O2_alidist/fullLog.txt).

[2018-05-02 14:35] dennisklein commented on #1112
Hi,

I suggest to only bump to FairRootGroup/FairRoot@3b01d28, because the next commit splits couple of components into new repos, which will need new recipes. I will propose a PR with the new repos probably beginning of next week.

Cheers

[2018-05-02 15:15] ktf commented on #1112
Closing in favour of #1114.

[2018-05-02 22:08] #1111 closed

[2018-05-03 01:22] alibuild opened #1118 "Error while checking branch master@fb30c1c5a8d47cb729c77d80f0b953670d7e3887:fd0d112f5a"
Error while checking build/O2/alidist for fb30c1c5a8d47cb729c77d80f0b953670d7e3887:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/fb30c1c5a8d47cb729c77d80f0b953670d7e3887/build_O2_alidist/fullLog.txt).

[2018-05-03 08:16] davidrohr commented on #1089
@ktf: The problem is this line in cmake.sh:
which cmake && case `cmake --version | sed -e 's/.* //' | cut -d. -f1,2,3 | head -n1` in [0-2]*|3.[0-4].*|3.5.[0-1]) exit 1 ;; esac

It sees cmake 3.10 as 3.1 and thinks it is too old.
Consequently, alibuild will build its own cmake instead of using the system one.

[2018-05-03 08:48] brinick commented on #1089
Maybe my brain is switched off, but with a test script using this line,
3.10 does not go down that exit 1 case statement. In other words, it is not
labelled as too old. This said, 3.1 does not trigger it either (which it should do
I suppose, unless cmake versions are always of the form x.y.z and not just x.y)

[2018-05-03 09:06] davidrohr commented on #1089
@brinick : Indeed...
I had this issue when I updated cmake to 3.10 on my system, but I just retried with alidist master (even though the cmake recipe didn't change), and now it detects cmake correctly.
I cannot reproduce what was the problem back then, sorry for the noise, I am closing this.

[2018-05-03 09:06] #1089 closed

[2018-05-03 13:38] sawenzel opened #1122 "Modulefile for gcc-toolchain broken"
Running on the cvmfs release (alice-nightlies.cern.ch) (CentOS-7):

[code]
(same as alienv enter GCC-Toolchain/v6.2.0-alice1-4)

yields an error message:

[code]

Somehow this modulefile depends on another non-existing modulefile Toolchain/GCC-v6.2.0. The actual compiler is loaded and works. However, this error prevents a correct working of the module file (for instance when unloading). Probably w

[2018-05-04 19:47] alibuild commented on #1118
Branch was updated. Closing issue.

[2018-05-04 19:47] #1118 closed

[2018-05-04 19:47] alibuild opened #1128 "Error while checking branch master@a8edd44f6685124a9dcf0ebb8bad574ed4a8894d:d70358efb7"
Error while checking build/O2/alidist for a8edd44f6685124a9dcf0ebb8bad574ed4a8894d:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/a8edd44f6685124a9dcf0ebb8bad574ed4a8894d/build_O2_alidist/fullLog.txt).

[2018-05-06 13:41] alibuild commented on #1128
Branch was updated. Closing issue.

[2018-05-06 13:41] #1128 closed

[2018-05-06 13:41] alibuild opened #1129 "Error while checking branch master@25ec6b7d4c695b4df0fa69cfd33b4bbddf7eaad4:4226ace3f1"
Error while checking build/O2/alidist for 25ec6b7d4c695b4df0fa69cfd33b4bbddf7eaad4:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/25ec6b7d4c695b4df0fa69cfd33b4bbddf7eaad4/build_O2_alidist/fullLog.txt).

[2018-05-07 10:35] dberzano commented on #994
Do you know if there's still this problem with v6-12-06? After QM (obviously) we'd like to sync our Run2 and Run3 ROOT 6 versions.

[2018-05-07 11:25] mfasDa commented on #994
Unfortunately yes, same problems persist also in v6-12-06, and it is not only with the physics selection. The problem with the physics selection I was able to silence with the pull request in AliPhysics but then it crashes somewhere else. I was not yet fully able to constrain this because we need a clear case to reproduce or constrain, but for simple tasks, i.e. the simple pt task, it runs without

[2018-05-08 07:31] alibuild commented on #1129
Branch was updated. Closing issue.

[2018-05-08 07:31] #1129 closed

[2018-05-08 07:31] alibuild opened #1134 "Error while checking branch master@29e1f74efeb9e638478fd394fe5904bc242ff4ef:8a8f46992d"
Error while checking build/O2/alidist for 29e1f74efeb9e638478fd394fe5904bc242ff4ef:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/29e1f74efeb9e638478fd394fe5904bc242ff4ef/build_O2_alidist/fullLog.txt).

[2018-05-09 10:13] olantwin commented on #724
@matthiasrichter Sorry for not finding this thread earlier, but I ran into this exact same issue, and it seems ipywidgets not finding ipython is fixed in more recent versions of `pip`. So we now just upgrade `pip` first, before installing the remaining packages: https://github.com/ShipSoft/shipdist/pull/7

Hope this helps!

[2018-05-09 10:27] olantwin commented on #724
I understand the ticket is old, but this exact build failure also applies to some linuxes, at least Ubuntu 16.04.03. Sorry for reviving it, but I thought this might be helpful to some.

If Python-modules and Python should never be built, does this not break the ability to use the `--write-store` feature, as no system packages can be used?

[2018-05-09 10:28] dberzano commented on #724
We have an official build procedure, that, as said, does not advise to use `--write-store`. In our WP3 meetings we said that we, in any case, only support `--write-store` with our central cache for CC7 builds. If you have further comments unrelated to this ticket, please participate to WP3.

[2018-05-09 10:31] olantwin commented on #724
Thanks a lot for the clarification. Luckily I am only looking into CC7 use of `--write-store`, so I'm glad that that should work.

Is WP3 open to non-Alice users of `aliBuild`/`alidist`(we use `alidist` as a base for our own `shipdist`)?

[2018-05-09 10:51] dberzano commented on #724
I did not realize you were not from ALICE 😄 This maybe explains why you were not aware of our build policy and instructions!

WP3 is open to ALICE members working for O2, our Run3 software stack. I am the work package convener at the moment, for the record.

Since CC7 is our reference platform, we are thinking of opening `--write-store` to the world using our cache. This of course makes sense if `

[2018-05-09 11:30] olantwin commented on #724
Thanks a lot! Yes, maybe I should have led with that I'm not from ALICE. I read most of the instructions, but since I'm not a macOS user I did not read that particular page.

Yes, I understand that macOS is nearly impossible to support (I use Fedora and CC7/SLE6 almost exclusively), but sometimes issues like this also crop up across platforms (as it seems to be a general issue with some pip versio

[2018-05-09 12:04] sbinet commented on #724
FYI, wrt macOS support, you may want to try out [go-fer](https://github.com/sbinet-alice/fer), a Go-based toolkit compatible with FairMQ.
It's (almost) pure-Go so completely portable and x-compiling on all major architectures/OSes.

(it's completely pure-Go when using the nanomsg transport and still relying on the C++ library for ZeroMQ, but this should be fixed soon (TM))

[2018-05-15 13:14] ktf commented on #427
Done at some point. Closing.

[2018-05-15 13:14] #427 closed

[2018-05-15 13:32] ktf commented on #678
Closing in favour of #1140.

[2018-05-15 13:32] #678 closed

[2018-05-16 08:02] alibuild commented on #1134
Branch was updated. Closing issue.

[2018-05-16 08:02] #1134 closed

[2018-05-16 08:02] alibuild opened #1141 "Error while checking branch master@3a2d733fef2c3b28567639f7ad022b5cd46eb1dc:aa0d7b0154"
Error while checking build/O2/alidist for 3a2d733fef2c3b28567639f7ad022b5cd46eb1dc:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/3a2d733fef2c3b28567639f7ad022b5cd46eb1dc/build_O2_alidist/fullLog.txt).

[2018-05-16 20:27] alibuild commented on #1141
Branch was updated. Closing issue.

[2018-05-16 20:27] #1141 closed

[2018-05-16 20:27] alibuild opened #1145 "Error while checking branch master@b683231d2a30d49d206d41c61877d36fcce7fa9c:502fd60324"
Error while checking build/O2/alidist for b683231d2a30d49d206d41c61877d36fcce7fa9c:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/b683231d2a30d49d206d41c61877d36fcce7fa9c/build_O2_alidist/fullLog.txt).

[2018-05-18 07:17] sawenzel commented on #1112
Reopening since this was reverted.

[2018-05-18 12:01] ktf commented on #1112
Closing in favour of #1150

[2018-05-18 12:01] #1112 closed

[2018-05-18 18:17] alibuild commented on #1145
Branch was updated. Closing issue.

[2018-05-18 18:17] #1145 closed

[2018-05-18 18:17] alibuild opened #1152 "Error while checking branch master@c28f44b482bed553fe0d92238ef799c91ffc6f5a:4a8377625d"
Error while checking build/O2/alidist for c28f44b482bed553fe0d92238ef799c91ffc6f5a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/c28f44b482bed553fe0d92238ef799c91ffc6f5a/build_O2_alidist/fullLog.txt).

[2018-05-20 09:33] alibuild commented on #1152
Error for commit c28f44b482bed553fe0d92238ef799c91ffc6f5a has changed.
Error while checking build/O2/alidist for c28f44b482bed553fe0d92238ef799c91ffc6f5a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/c28f44b482bed553fe0d92238ef799c91ffc6f5a/build_O2_alidist/fullLog.txt).

[2018-05-21 14:41] alibuild commented on #1152
Error for commit c28f44b482bed553fe0d92238ef799c91ffc6f5a has changed.
Error while checking build/O2/alidist for c28f44b482bed553fe0d92238ef799c91ffc6f5a:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/c28f44b482bed553fe0d92238ef799c91ffc6f5a/build_O2_alidist/fullLog.txt).

[2018-05-23 20:39] dberzano commented on #1122
@ktf is right. The error comes from the fact that we need to try to load a module before determining it did not exist (we cannot check in advance with modules, unfortunately). On the local `alienv` we filter the message out. I am afraid that this utter complication is needed in order to keep it compatible with the Grid. That said, `alienv` (local or from CVMFS) is _the_ way to load our modules, no

[2018-05-23 20:44] dberzano commented on #919
Closing due to inactivity & changed boundary conditions. [This page](https://alice-doc.github.io/alice-analysis-tutorial/building/) explains how to load different configurations with aliBuild/alienv without having them overwriting each other, practically solving the problem.

[2018-05-23 20:44] #919 closed

[2018-05-24 07:05] alibuild commented on #1152
Branch was updated. Closing issue.

[2018-05-24 07:05] #1152 closed

[2018-05-24 07:05] alibuild opened #1161 "Error while checking branch master@a96b422025b65357bb88aa61034243dc1c6e3c50:fd0d112f5a"
Error while checking build/O2/alidist for a96b422025b65357bb88aa61034243dc1c6e3c50:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/a96b422025b65357bb88aa61034243dc1c6e3c50/build_O2_alidist/fullLog.txt).

[2018-05-24 17:28] alibuild commented on #1161
Branch was updated. Closing issue.

[2018-05-24 17:28] #1161 closed

[2018-05-24 17:28] alibuild opened #1164 "Error while checking branch master@84a4488be0df92f284685c707888a0c56f5c2abf:fd0d112f5a"
Error while checking build/O2/alidist for 84a4488be0df92f284685c707888a0c56f5c2abf:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/84a4488be0df92f284685c707888a0c56f5c2abf/build_O2_alidist/fullLog.txt).

[2018-05-25 06:06] sawenzel opened #1165 "Bump Geant4_VMC tag"
PR https://github.com/alisw/alidist/pull/1090 was merged than reverted.

The original PR should still go in as we need this new version in O2.

[2018-05-29 23:32] alibuild commented on #1164
Error for commit 84a4488be0df92f284685c707888a0c56f5c2abf has changed.
Error while checking build/O2/alidist for 84a4488be0df92f284685c707888a0c56f5c2abf:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/84a4488be0df92f284685c707888a0c56f5c2abf/build_O2_alidist/fullLog.txt).

[2018-05-31 14:12] alibuild commented on #1164
Branch was updated. Closing issue.

[2018-05-31 14:12] #1164 closed

[2018-05-31 14:12] alibuild opened #1172 "Error while checking branch master@2159d307db92273ce514376fe80d09899702b7a7:fd0d112f5a"
Error while checking build/O2/alidist for 2159d307db92273ce514376fe80d09899702b7a7:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/84a4488be0df92f284685c707888a0c56f5c2abf/build_O2_alidist/fullLog.txt).

[2018-05-31 22:29] alibuild commented on #1172
Branch was updated. Closing issue.

[2018-05-31 22:29] #1172 closed

[2018-05-31 22:29] alibuild opened #1174 "Error while checking branch master@88e90f9f79066d45458c69801e5f84d37b7f719b:05231fca57"
Error while checking build/O2/alidist for 88e90f9f79066d45458c69801e5f84d37b7f719b:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/88e90f9f79066d45458c69801e5f84d37b7f719b/build_O2_alidist/fullLog.txt).

[2018-06-03 17:15] alibuild commented on #1174
Branch was updated. Closing issue.

[2018-06-03 17:15] #1174 closed

[2018-06-03 17:15] alibuild opened #1175 "Error while checking branch master@bf9d35c521208e7ac258bb625b05bb545a660736:fd0d112f5a"
Error while checking build/O2/alidist for bf9d35c521208e7ac258bb625b05bb545a660736:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/bf9d35c521208e7ac258bb625b05bb545a660736/build_O2_alidist/fullLog.txt).

[2018-06-05 09:31] alibuild commented on #1175
Branch was updated. Closing issue.

[2018-06-05 09:31] #1175 closed

[2018-06-05 09:31] alibuild opened #1179 "Error while checking branch master@d1e2f37443921283c6b6dd99d13e9618973b19ea:84a7c93ce3"
Error while checking build/O2/alidist for d1e2f37443921283c6b6dd99d13e9618973b19ea:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/d1e2f37443921283c6b6dd99d13e9618973b19ea/build_O2_alidist/fullLog.txt).

[2018-06-06 04:10] alibuild commented on #1179
Branch was updated. Closing issue.

[2018-06-06 04:10] #1179 closed

[2018-06-06 04:10] alibuild opened #1182 "Error while checking branch master@abf380054979bba1e70c768ca3547cb038cdac24:486d5aa702"
Error while checking build/O2/alidist for abf380054979bba1e70c768ca3547cb038cdac24:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/abf380054979bba1e70c768ca3547cb038cdac24/build_O2_alidist/fullLog.txt).

[2018-06-06 19:36] alibuild commented on #1182
Error for commit abf380054979bba1e70c768ca3547cb038cdac24 has changed.
Error while checking build/O2/alidist for abf380054979bba1e70c768ca3547cb038cdac24:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/abf380054979bba1e70c768ca3547cb038cdac24/build_O2_alidist/fullLog.txt).

[2018-06-07 19:41] alibuild commented on #1182
Branch was updated. Closing issue.

[2018-06-07 19:41] #1182 closed

[2018-06-07 19:41] alibuild opened #1185 "Error while checking branch master@d98cfe023b602bd84dea8ad5533c6f46ef5ed360:bbc3bd0cd3"
Error while checking build/O2/alidist for d98cfe023b602bd84dea8ad5533c6f46ef5ed360:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/d98cfe023b602bd84dea8ad5533c6f46ef5ed360/build_O2_alidist/fullLog.txt).

[2018-06-07 20:30] alibuild commented on #1185
Error for commit d98cfe023b602bd84dea8ad5533c6f46ef5ed360 has changed.
Error while checking build/O2/alidist for d98cfe023b602bd84dea8ad5533c6f46ef5ed360:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/d98cfe023b602bd84dea8ad5533c6f46ef5ed360/build_O2_alidist/fullLog.txt).

[2018-06-07 20:38] alibuild commented on #1185
Error for commit d98cfe023b602bd84dea8ad5533c6f46ef5ed360 has changed.
Error while checking build/O2/alidist for d98cfe023b602bd84dea8ad5533c6f46ef5ed360:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/alisw/alidist/master/d98cfe023b602bd84dea8ad5533c6f46ef5ed360/build_O2_alidist/fullLog.txt).

[2018-06-13 15:06] teo opened #1194 "Unable to run binaries from aliBuild-based RPMs that use FairRoot, ROOT and cling"
Can be reproduced with current alisw RPMs.
Here's a *non-exhaustive* list of executables that trigger this issue:
* O2: `benchTracker`, `conditions-client`, `digitizer-workflow`, `preclusterizer`, `benchClusterizer`;
* QC: `qcTaskLauncher`, `qcCheckerLauncher`, `qcConsumer`;
* Readout: `readout.exe` (v0.6.0, current status unknown).

In all cases cling seems to try to load some FairRoot headers, b

[2018-06-13 15:08] dberzano commented on #1194
What is the value of `$ROOT_INCLUDE_PATH` in your environment?

[2018-06-13 15:13] dberzano commented on #1194
In order to contextualize a bit: the problem popped up already (it happens to ATLAS too, see [ROOT-8699](https://sft.its.cern.ch/jira/browse/ROOT-8699)), and the blessed solution (from the ROOT project leader) is to make sure that the given headers are found under one of the paths expressed in the environment variable `ROOT_INCLUDE_PATH`.

I'd ask you to manually add the missing path(s) there in o

[2018-06-13 15:18] dberzano commented on #1194
Oh but now I see what the problem is.

FairRoot installs all headers in a flat space under `$FAIRROOT_ROOT/include`, _however_ cling tries to find those headers under subdirectories as in `sim/FairVolume.h` or `source/FairRemoteSource.h`.

I think this should be solved in FairRoot, it looks like a bug(?) to me, but I would not know how to.

@teo: the reason why locally you don't see it is that ROO

[2018-06-14 14:15] #1194 closed

[2018-06-19 08:38] mfasDa commented on #994
One update concerning this ticket: I tried now again with the new tag (v6-14-00) and in the train tests I have run so far the crash with the physics selection and CDBconnect task didn't show up with this version, instead they finished properly without crash and the message concerning the recursive remove also didn't show up. It is maybe safe to upgrade. However for upgrading to ROOT v6-14-00 also

[2018-06-19 08:42] dberzano commented on #994
Thanks @mfasDa for reporting this. It is a good idea to align the ROOT versions and GEANT4* as well across O2 and AliRoot, pending proper validation of course.

[2018-06-19 09:16] mfasDa commented on #994
The following setup compiles:

ROOT: v6-14-00
GEANT4: v4.10.04.p02
GEANT4_VMC: v3-6

For older versions of VMC I get compiler errors in TGeant4 due to changes in ROOT while with the latest VMC and the default GEANT4 I get compiler errors due to GEANT4 classes. I only checked the latest GEANT4 as the build takes some time. Before upgrading to the latest GEANT4 one should probably first do a validat

[2018-06-20 08:10] #838 closed

[2018-06-23 11:19] omasanori opened #1205 "Python fails to build without OpenSSL development package"
Without OpenSSL devel package, building Python v2.7.10 fails with the error message below ([full log](https://gist.github.com/omasanori/7950c56df7374b72edb361654296969b)):
<pre>
+ python get-pip.py
pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting pip
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None))

[2018-06-24 07:54] omasanori opened #1207 "dim.sh depends on unzip (recipe for unzip?)"
[dim.sh uses unzip](https://github.com/alisw/alidist/blob/111983b529a922217894ee450c551c66f691fb71/dim.sh#L16) so it fails to build if the package is not installed. However, `aliDoctor` does not warn us against this. [The instructions of aliBuild prerequisites installation](https://alice-doc.github.io/alice-analysis-tutorial/building/prereq-centos7.html#install-or-upgrade-required-packages) also l

[2018-06-28 06:36] omasanori commented on #760
https://github.com/alisw/alidist/pull/1210 will fix this issue. I will check after it is merged.

[2018-06-28 06:50] dberzano commented on #760
Hi @omasanori, the PR has been merged and the issue should have been fixed. Let me remind you that - given that this was an actual problem - it wouldn't have occurred if you followed the [build instructions](https://alice-doc.github.io/alice-analysis-tutorial/building/).

Please close if your issue is fixed.

[2018-06-29 02:00] omasanori commented on #760
@dberzano OK, I confirmed that the issue is fixed now. Thank you!
And, yes, we should always follow the official instructions.

[2018-06-29 02:00] #760 closed

[2018-07-02 02:17] omasanori commented on #1205
I found that this should not be occurred when [the prerequisites](https://alice-doc.github.io/alice-analysis-tutorial/building/prereq-centos7.html) are satisfied. I checked the node I found the problem and re-run setup procedures then the problem disappears. I am so sorry for the noise.

[2018-07-02 02:17] #1205 closed

[2018-07-02 15:16] dberzano commented on #1207
Yes it's the right place, can you please add it with a PR to https://github.com/alice-doc/alice-analysis-tutorial/?

[2018-07-02 15:16] #1185 closed

[2018-07-02 15:17] #1122 closed

[2018-07-02 15:59] dberzano commented on #994
Hi @mfasDa, we're bumping also thanks to your feedback in alisw/alidist#1212. We are finally aligning O2 and AliRoot ROOT 6 versions. Note that the GEANT4* bumps are only for AliRoot ROOT 6 builds (so, no production at the moment) and they require validation.

[2018-07-03 03:03] omasanori commented on #1207
@dberzano Thank you for your answer! I will do it.

[2018-07-03 03:21] omasanori commented on #1207
Here is the PR: https://github.com/alice-doc/alice-analysis-tutorial/pull/39

[2018-07-04 21:01] davidrohr opened #1217 "Autotools in no-system chain fails with gcc 7.3 / help2man 1.47"
It needs the following fixes to autotools sources (or perhaps newer autotools version):
1. in automake/Makefile.in - help2man command needs additional parameter: --no-discard-stderr
2. pkg-config/glib/glib: must be compiled without -Werror, since gcc 7.3 has new warnings.

I do not have a patch file at hand. Did patch on the fly since the files are created on the fly.
This issue is just for the re

[2018-07-05 16:15] #1207 closed

[2018-07-05 16:16] #843 closed

[2018-07-07 10:25] mpuccio opened #1222 "Ninja and Fortran: ROOT configuration fails on Ubuntu 18.04"
Hi @dberzano ,
it looks like that enabling explicitly Fortran (#1218) breaks the configuration of ROOT6 when using the o2-ninja defaults on Ubuntu 18.04 with system ninja.
Here the small log:

[code]

Reverting the commit of PR #1218 fix the issue for me, but it cannot work as a general solution.

Ciao,
Max

[2018-07-07 10:32] dberzano commented on #1222
Out of completeness, where does this error occur? What's the package involved?

[2018-07-07 10:33] mpuccio commented on #1222
It breaks the cmake configuration of ROOT6

[2018-07-07 10:38] dberzano commented on #1222
OK sorry I keep needing a vacation :smile:

[2018-07-07 11:05] #1222 closed

[2018-07-11 12:40] KlewinS opened #1225 "Using VC with ROOT/CLING fails"
I don't know, if this is the correct place for this issue... nevertheless I put it here...

I tried to use VC in a macro, which doesn't seem to work, I get the warning

You are probably missing the definition of Vc_1::Common::checkLibraryAbi(unsigned int, unsigned int, char const*)
Maybe you need to load the corresponding shared library?

and afterwards, the code runs horribly slow (although it se

[2018-07-16 11:18] KlewinS commented on #1225
The main question for me is, how does O2 compiles (using VC) but I can't use VC in a macro?

[2018-07-26 08:15] #368 closed

[2018-07-26 09:16] qgp opened #1228 "Deploy old Pythia6 versions"
Hi @dberzano,

We would need two old versions of Pythia6. Could we just install them independently of AliGenerators overriding the version?

The code is available in alisw/pythia6 as tags 421-alice1 and 425-alice1.

Let me know if anything else is needed from my side.

Cheers,
   Jochen

[2018-07-30 15:16] dberzano commented on #1228
Done, see alisw/ali-bot#584.

[2018-08-06 13:10] teo opened #1239 "Bump gRPC to 1.14.0"
Please bump gRPC from 1.13.0 to 1.14.0.
The patch we have in https://github.com/alisw/grpc/tree/alice/v1.13.0 is still necessary, and it should still apply.

[2018-08-06 13:14] dberzano commented on #1239
Can you open a PR please?

[2018-08-06 15:52] dberzano commented on #1239
#1240 addresses this.

[2018-08-06 15:52] #1239 closed

[2018-08-09 08:23] ktf opened #1243 "FairMQ detection mechanism"
@dberzano I guess I am missing something but how can the FairRoot recipe pick up FairMQ, given there is no "-DFAIRMQ_DIR" or similar?

[2018-08-09 09:47] dberzano commented on #1243
Hmm I believe environment variables are used. The transition was handled by @dennisklein, let's see if he has more information. I agree it would be better _not_ to use environment variables by the way.

[2018-08-09 09:48] #1228 closed

[2018-08-09 20:42] dennisklein commented on #1243
CMake automatically looks up the environment with `find_package`, see [CMP0074](https://cmake.org/cmake/help/v3.12/policy/CMP0074.html). But this cannot be the reason why FairMQ is found, because

1. we use older CMake in `--defaults o2` (even though the CMP0074 behaviour was first introduced in 3.9.1, but apparently it was removed again shortly after 3.9.1 until 3.12.0, which I did not know) and

[2018-08-14 13:26] Barthelemy opened #1249 "OpenSSL on Mac does not build"
If one removes openssl from brew on Mac, he/she gets :
[code]

[2018-08-21 14:06] Barthelemy commented on #1249
Hi Dario,
Good that it is in the instructions. It happened to me because I did not update brew before pulling alidist and got the error (wrong version, but same result as not having it at all). I tried to remove it and saw this error and thought that the recipe was broken.
If the recipe should never be executed on Mac, is there a way to tell it in the recipe itself and to inform the users in a mor

[2018-08-21 14:36] Barthelemy commented on #1249
I was building "flpproto" for o2-dataflow indeed.
You can close it, sure.

[2018-08-22 09:15] dberzano commented on #1249
Yes, the linked PR is actually addressing the usability problem you've mentioned 🙂

[2018-08-22 09:16] #1249 closed

[2018-08-22 14:26] awegrzyn opened #1259 "FairMQ requires msgpack 2.1.5"
https://github.com/FairRootGroup/FairMQ/blob/5ab21946f8e1c2f701f52e0f37dc2061be6ddb40/CMakeLists.txt#L51

aliDocotr:
[code]

aliBuild:
[code]

[2018-08-23 01:28] dennisklein commented on #1259
This is already fixed in `dev`, but not yet tagged. I will add a recent enough tag today.

I had other problems with system packages of msgpack in Fedora btw, which are fixed in the most recent relase 3.1.0 from a couple of days ago. Not sure how many other distros are affected.

[2018-08-23 01:36] dennisklein commented on #1259
For the record, FairMQ requires msgpack 2.1.5+, but because we import msgpack via their CMake package, msgpack ships the logic that tells us, if we found a version greater or equal 2.1.5. In their case, they decided for a logic that only includes major versions of 2. 3.x is considered incompatible with 2.x and we had to add an additional `find_package` call for 3.x. See https://cmake.org/cmake/hel

[2018-08-23 07:39] ktf commented on #1259
@awegrzyn can you confirm this is ok in alidist when building with `FairMQ@dev`?

[2018-08-23 07:41] awegrzyn commented on #1259
Yes it works.
@dennisklein Thanks for the explanation.

[2018-08-23 08:30] awegrzyn commented on #1259
Okay but with `dev` O2 fails due to:
[code]

[2018-08-23 09:46] dennisklein commented on #1259
@awegrzyn Can you try FairMQ v1.2.7? It should support msgpack 3.x, but does not contain the API change.

[2018-08-23 09:59] dennisklein commented on #1259
@ktf I also added v1.3.0 (dev release for now). Please also note, that this already includes the changes needed by @sawenzel (FairRootGroup/FairMQ#57). Probably will not affect your framework negatively, but if you do see strange things, you know where to look for.

[2018-08-23 11:07] awegrzyn commented on #1259
In `v1.2.7` everything compiles. Thanks again!

[2018-08-24 10:05] Barthelemy opened #1268 "Change PACKAGE_VERSION to PACKAGE_ROOT"
Giulio explained the rationale for using PACKAGE_ROOT instead of PACKAGE_VERSION when passing variables to cmake : https://github.com/alisw/alidist/pull/1265#discussion_r212537643

There are a number of recipes that still use PACKAGE_VERSION and that should be modified to have a uniformity accross recipes.

[2018-09-20 14:21] preghenella opened #1295 "Update arrow@v.0.10.0-alice1 to solve macOS compilation problem"
I have Apple LLVM version 10.0.0 (clang-1000.10.44.2) and could not build arrow@v.0.9.0-alice1 on my system (macOS 10.13.6). I locally updated alidist to arrow@v.0.10.0-alice1 and I managed to get the compilation thru it.

[2018-09-20 14:29] ktf commented on #1295
I have done the same myself on the laptop but forgot to do a PR. Closing this in favour of #1296 which should fix it.

[2018-09-20 14:29] #1295 closed

[2018-09-27 09:57] gabrielefronze opened #1307 "ROOT6-14-04 TBB on Mac OS X + CUDA"
On Mac OS X 10.12.6 with Nvidia GPU and xCode 9.0.1.
The compilation of ROOT6-14-04 fails while building Intel TBB for some CUDA-related errors.
Installing TBB by hand with `brew` or similar does the trick.
Maybe we should explicitly add TBB as a ROOT6-14-04 dependency?

[2018-10-02 10:01] Barthelemy opened #1312 "Set CMAKE_INSTALL_LIBDIR in recipes"
See this discussion : https://github.com/alisw/alidist/pull/1308

It is proposed to set CMAKE_INSTALL_LIBDIR to "lib" in the recipes (AliceO2 et al.)

[2018-10-09 13:19] awegrzyn opened #1324 "ROOT does not compile due to linking error with lssl"
Error:
[code]

Environment:
- OS: macOS 10.14
- clang: clang-1000.11.45.2
- `brew --prefix openssl`: /usr/local/opt/openssl

Any ideas?

[2018-10-10 08:50] ktf commented on #1324
Notice that MySQL should not be built at all on OSX.

[2018-10-10 14:56] Barthelemy commented on #1324
@ktf why ?

By the way, maybe I could get rid of mysql now that we opted for CCDB as backend of the QC.

[2018-10-10 15:32] ktf commented on #1324
Because in the root.sh I see `MySQL: slc7.*`. Maybe we should explicitly say that we disable it in ROOT. I think what is happening is that @awegrzyn has a local installation of MySQL, ROOT picks it up because "why not?", but effectively no one tried that combination on Mojave, hence the failure.

[2018-10-10 16:04] awegrzyn commented on #1324
Ofc I need MySQL as it’s required by one of the packages. With —disable-mysql it compiles well.

[2018-10-10 20:18] ktf commented on #1324
Yeah, understood, but the question is do you need it also in ROOT?

[2018-10-11 00:59] dennisklein commented on #1324
On Mac I usually have to do

[code]

when compiling ROOT with FairSoft. Maybe you need a similar hint with alibuild? Instead of an environment variable you can also pass it via `-D` to cmake.

[2018-10-11 06:45] Barthelemy commented on #1324
@ktf I came to the same conclusion. I have fixes for both the recipe and QualityControl to avoid this problem. On mac, Mysql is not built and ROOT does not enable mysql whether it finds it or not. Then in QualityControl I handle properly the fact that mysql might be found but not rMysql.
I will prepare the PRs now.

[2018-10-11 06:47] Barthelemy commented on #1324
@dennisklein I think that we already have something similar. For some reason it does not work. As we don't need it on mac for the time being, I will just skip it. thank you for the help.

[2018-10-11 09:10] #1324 closed

[2018-10-17 13:21] mkrzewic opened #1345 "geant3 fails to compile centos7"
Hi, it started a few days ago, nothing special about the installation here are the relevant parts of the log:

+ cmake /home/mkrzewic/o2/sw/SOURCES/GEANT3/v2-5/v2-5 -DCMAKE_INSTALL_PREFIX=/home/mkrzewic/o2/sw/INSTALLROOT/c8c138df881dc801d5b519f646406e35a6adfaea/slc7_x86-64/GEANT3/v2-5-12 -DCMAKE_BUILD_TYPE=RELWITHDEBINFO -DCMAKE_SKIP_RPATH=TRUE
-- The C compiler identification is GNU 7.3.1
-- The

[2018-10-17 13:34] mkrzewic commented on #1345
that sounds brutal, aren't there any compiler options to make it less strict?

[2018-10-17 13:44] ihrivnac commented on #1165
There is proposed a new PR #1346 for the version v3-5-p2 which contains two additional fixes on the top of  v3-5-p1.

[2018-10-18 10:46] dberzano commented on #1345
It really seems that a recent update in devtoolset-7 broke it... this does not happen with our own compiler.

[2018-10-18 11:53] mkrzewic commented on #1345
do you have an official recommendation (as this might hit more users after a yum upgrade) or should I just hack something together?

[2018-10-18 15:38] dberzano commented on #1345
Just to have some context. What's the exact version of devtoolset you are using?

[code]

[Here](https://access.redhat.com/errata/RHBA-2018:2604) it refers to a similar problem:

but I honestly don't know whether this patch "fixes" our issue or "creates" it. Given that this happens with very recent devtoolset versions, I'd say... the latter.

This probably means that the fix is correct, and we act

[2018-10-18 15:48] aphecetche commented on #1345
Following the issue with GEANT3 my current playbook installs :

- devtoolset-7-gcc-c++
- devtoolset-7-make
- devtoolset-7-gdb

which results in :

~ > rpm -qa | grep devtoolset
devtoolset-7-gcc-7.3.1-5.13.el7.x86_64
devtoolset-7-runtime-7.1-4.el7.x86_64
devtoolset-7-libstdc++-devel-7.3.1-5.13.el7.x86_64
devtoolset-7-gdb-8.0.1-36.el7.x86_64
devtoolset-7-binutils-2.28-11.el7.x86_64
devtoolset-7-make

[2018-10-18 15:50] dberzano commented on #1345
Bummer. You've got the latest. Do you know how to fix GEANT3? Or, if it needs fixing?

[2018-10-18 15:55] aphecetche commented on #1345
I won't comment on what's left of my Fortran knowledge after ~20 years without writing a single line of it ... Let me just answer : no, I don't know how to fix GEANT3 ;-)

[2018-10-29 09:32] mfasDa opened #1361 "Google Protocol Buffers failing to compile with on Ubuntu 14.04"
Dear experts,

the current version of google protocol buffers used in aliBuild fails compiling under Ubuntu 14.04 with the core dump mentioned below. The problem does not occur with the latest version of protobuf.

Would it be possible to check whether the protobuf version can be updated?

Thanks in advance!

Cheers

Markus

DEBUG:O2:protobuf:ali-work: oldpwd=`pwd` && ( cd . && $oldpwd/protoc -I.

[2018-11-05 15:59] kreisl opened #1369 "autotools not building with gcc 6.4"
Maybe duplicate of #1217 .
alidist does not pick up the newest version of the autotools by default.
After setting the tag to v1.5.0 from v1.4.0 in autotools.sh it can be compiled with gcc 6.4. The related commit in the alisw/autotools git:
[https://github.com/alisw/autotools/commit/94f94c0d9a3f87821303aab3f7756b65f60beb26](url)

[2018-11-08 10:46] mkrzewic commented on #1345
in the end I just removed the devtoolset-7 gfortran like @aphecetche did. From what I can tell the error has something to do with the generous use of the argumentless SAVE statement in one of the source files. Not sure what actually should be saved so I will not even try to fix this, someone with GEANT3 knowledge should do it. giving up on this.

[2018-11-14 09:11] sawenzel opened #1389 "FairMQ fails to find system nanomsg Ubuntu 16.04"
When libnanomsg-dev is present on the system (Ubuntu 16.04), the compilation of FairMQ fails.
Apparently the cmake does not find the package.

[2018-11-14 09:15] ktf commented on #1389
@dennisklein is this a feature of the new CMake?

[2018-11-14 09:32] dennisklein commented on #1389
We currently require nanomsg 1.1.3 and import it via the CMake package (prior versions dont have CMake package). Unfortunately, I could not add a version check, because nanomsg does not install any version information. I have fixed this upstream and since it is released now with nanomsg 1.1.5, I should probably require that version.

@sawenzel How does it fail btw? Can you show the CMake output?

[2018-11-14 09:37] dennisklein commented on #1389
So, libnanomsg-dev in Ubuntu 16.04 is too old.

[2018-11-14 09:48] ktf commented on #1389
https://github.com/alisw/alidist/pull/1390 bumps the `nanomsg` version we ship with alidist, however we have the same version detection issue in our recipe. We simply check if `nn.h` can be compile. I guess we should fall back to not use `nanomsg` from the system.

[2018-11-14 09:48] ktf commented on #1389
@dberzano ideas?

[2018-11-14 09:58] dennisklein commented on #1389
Or we could check for the existence of a `lib*/cmake/nanomsg-*` directory in the recipe system check.

[2018-11-14 10:15] dennisklein commented on #1389
Or `cmake -P /dev/stdin <<< "find_package(nanomsg REQUIRED)"`. Not sure, if this works on Mac though.

[2018-11-14 10:45] dberzano commented on #1389
I think that trying to find out how to get it from the system is a bit of a burden in terms of support. I agree with @ktf that we should get it from our recipes always.

[2018-12-01 12:17] mpuccio commented on #1389
Hello, I still encounter this issue on Ubuntu. Unfortunately I cannot use another OS nor alidock for my developments. If the proper fix will take a while, is there any quick workaround I can use?

[2018-12-04 10:40] Barthelemy opened #1419 "Error building Geant 3 on CC7"
On my CC7 setup I get the following error when building GEANT 3 (dependency of O2):
[code]
And it goes on and on and on.

Any idea what is wrong ?

[2018-12-04 10:40] Barthelemy commented on #1419
@sawenzel an idea Sandro ?

[2018-12-04 11:11] Barthelemy commented on #1419
I have tried on a different machine and I get the same. I am trying to reproduce the problem on openstack. Note that we use devtoolset-7 as per the instructions.

[2018-12-04 11:35] aphecetche commented on #1419
@barth : see https://github.com/alisw/alidist/issues/1345

[2018-12-04 12:26] matthiasrichter opened #1420 "Inconsistent local OpenSSL build"
After upgrading to Ubuntu 18.04, alibuild dos not pick OpenSSL from the system anymore. I have two issues with the local build. Using defaults o2.

When compiling O2 I get lots of warnings like this one
[code]

I can not use ssh with the local version
[code]

[2018-12-04 12:36] Barthelemy commented on #1419
thank you, closing this one

[2018-12-04 12:36] #1419 closed

[2018-12-04 12:38] Barthelemy commented on #1345
I think that it is a very serious issue as our users can't compile the software following the instructions provided. Could we update the instructions to say that devtoolset7 meta package should be avoided and that only devtoolset-7-gcc-c++, devtoolset-7-make, devtoolset-7-gdb must be installed ?

[2018-12-17 08:14] ktf commented on #1361
Can you please provide a PR with what works for you so that we can test it in our machinery? Thanks.

[2018-12-17 08:15] ktf commented on #1361
I now noticed this went unresponded for long, sorry about that, is this still an issue?

[2019-01-07 22:38] davidrohr opened #1453 "FreeType URL link dead"
FreeType fails to build as the download link in the recipe is dead.

http://download.savannah.gnu.org/releases/freetype/freetype-${PKGVERSION:1}.tar.gz
gives:
Pagina non trovata
Il sito che cercavi potrebbe essere non disponibile o non più esistente.

For me, it works with the following link, but perhaps we want to switch to the current patchlevel 2.6.5:
https://downloads.sourceforge.net/project/f

[2019-01-14 14:03] dberzano commented on #1345
Thanks to @pzhristov I have proposed a fix to GEANT3 (see the PR).

[2019-01-14 14:04] pzhristov commented on #1345
The problem comes from the SAVE statement in miface/gmicap.F:51. According to the Fortran 77 standard, "Any variable in EQUIVALENCE, DATA, or SAVE statements is static regardless of any previous AUTOMATIC specification." which makes the SAVE statement redundant and for some reason the new version of the compiler doesn't like it. Commenting this line should be fine for the old and new compiler on a

[2019-01-14 14:07] dberzano commented on #1345
After testing I confirm it works with different compilers as well.

[2019-01-17 22:41] #1345 closed

[2019-01-18 09:14] ktf commented on #1420
I think we need to move to openssl 1.1.0 to fix that, or alternatively use a different output name for the openssl libraries so that they do not get seen by the system. Could you try to see if the version bump is something that can be easily done?

[2019-01-24 16:17] hscheid opened #1485 "Build fails in building boost"
Hi,
I just ran into an issue when building AliPhysics. As far as I understand it the header pyconfig.h is not found. This is no wonder when looking in "/usr/includes/python3.5" since on my system it should be "python3.5m".
I am not sure why its picking up the wrong one. A small extract from the log you can find below.

Cheers,
Sebastian

[code]

[2019-02-20 10:09] pebond opened #1505 "Update DIM version to v20r24"
Please update to the latest version of DIM: v20r24. It is needed for ALF software. This is a backwards-compatible update.

[2019-02-25 10:44] Barthelemy opened #1510 "Clang recipe : clang-format load fails"
On CC7 :
1. `aliBuild build --defaults o2 Clang`
2. `alienv load Clang/latest  # or enter`
3. `clang-format -style=file -i *.cpp`
3. Get :
[code]

[2019-02-25 11:03] bazinski commented on #1510
you need the compiler as well to get the corresponding glibc.

for me:
alienv enter Clang/latest,GCC-Toolchain/latest

[2019-02-25 11:05] Barthelemy commented on #1510
Thanks for the prompt reply. I would say that Clang should therefore depend on GCC-Toolchain in the recipe. If you agree with this, I can prepare the fix.

[2019-02-25 11:10] bazinski commented on #1510
I would concur.

I dont think this is a problem in the docker method of working though.

[2019-02-25 11:12] Barthelemy commented on #1510
I am giving it a try on my CC machine. It takes some time as it has to recompile Clang.

[2019-02-25 14:49] ktf commented on #1510
Another alternative would be to have clang compiled using `libc++` (https://libcxx.llvm.org), rather than `libstdc++`, making it standalone.

[2019-02-25 14:52] bazinski commented on #1510
@ktf your suggestion would certainly be more elegant.

[2019-03-06 13:50] awegrzyn commented on #1505
@pebond Just create a PR with bumped version. The following lines needs to be edited: https://github.com/alisw/alidist/blob/03c5e5fe46d57da9f96bd8e2884aae3606b82a64/dim.sh#L2

[2019-03-08 12:52] awegrzyn opened #1531 "OpenSSL fails to compile on macOS"
The recipe does not pick up OpenSSL from `brew` due to `fatal error: 'openssl/opensslv.h' file not found` and then fails to compile its own version:
[code]

This affects https://github.com/alisw/alidist/pull/1515

[2019-03-08 12:57] awegrzyn commented on #1531
Okay I think the recipe is not meant to be compiled on macOS.
@dberzano Could you please confirm?

[2019-03-08 15:16] sawenzel commented on #1510
Did someone try to add GCC as a runtime dependency in the modulefile for Clang? This should easily solve the problem.

[2019-03-09 12:48] ktf commented on #1510
It's there, AFAICT.

[2019-03-11 07:35] Barthelemy commented on #1510
@sawenzel see #1511

[2019-03-11 07:35] Barthelemy commented on #1510
I should close this issue.

[2019-03-11 07:35] #1510 closed

[2019-03-13 11:06] aphecetche opened #1542 "Two recipes for go ?"
Hi @teo @sbinet

I see there are two recipes for go : go.sh and golang.sh

Do we actually need both ?

[2019-03-13 11:57] teo commented on #1542
I'm not sure. I'm maintaining `golang.sh`, it's more recent than the other one and it works for me. I don't know if we have any packages relying on `go.sh`. I'd be in favor of removing `go.sh` if it currently serves no purpose.

[2019-03-13 12:07] ktf commented on #1542
I think @sbinet is the author of the other one. Not sure why it got duplicated...

[2019-03-13 12:10] teo commented on #1542
@ktf It is probably my fault, I had no idea the other one was already there when I made `golang.sh`.

[2019-03-13 12:19] ktf commented on #1542
I need to configure your tab completion properly... ;-) Given I do not see go.sh used anywhere*, unless @sbinet has any objections, I agree we should remove it.

[code]

[2019-03-13 12:21] ktf commented on #1542
Let's move the discussion to the PR.

[2019-03-13 12:21] #1542 closed

[2019-03-13 12:21] sbinet commented on #1542
Yeah, go.sh can be replaced with golang.sh
(Although, the language is called Go, not golang :P)

[2019-03-18 13:16] dberzano commented on #1531
I do.

[2019-03-18 13:21] #1531 closed

[2019-03-27 13:01] pebond commented on #1505
Completed with PR #1532

[2019-03-27 13:01] #1505 closed

[2019-04-13 13:59] marcovanleeuwen opened #1583 "ROOT 6.16 compilation error"
I just recompiled with the latest alidist with user-next-root6 on a recent Ubuntu and get an error while compiling ROOT:

collect2: error: ld returned 1 exit status
core/metacling/src/CMakeFiles/Cling.dir/build.make:200: recipe for target 'lib/libCling.so.6.16.00' failed
make[2]: *** [lib/libCling.so.6.16.00] Error 1
CMakeFiles/Makefile2:17681: recipe for target 'core/metacling/src/CMakeFiles/Clin

[2019-04-13 16:49] marcovanleeuwen commented on #1583
Oops, disk was full; please ignore...

[2019-04-13 16:49] #1583 closed

[2019-04-13 18:38] ktf commented on #1583
yeah, that's what I was about to say. Maybe you should try to do `aliBuild clean` to see if that frees up some space.

[2019-04-13 20:02] marcovanleeuwen opened #1584 "gfortran issue on Ubuntu/Linux: undefined reference to `_gfortran_stop_numeric_f08'"
Dear all,

This issue has been reported on the mailing list. I ddi some digging through the log files and this is a result of compiling root without fortran support. As a result, aliroot picks the system version of the fortrain compiler. In my case:

/usr/bin/f95 -DCERNLIB_BLDLIB -DCERNLIB_CZ -DCERNLIB_LINUX -DWITHALIEN -DWITHXML -D_MODULE_=\"microcern\" -I/opt/alice/sw/SOURCES/AliRoot/master/0/MI

[2019-04-13 22:22] marcovanleeuwen commented on #1584
Proposed fix is here: https://github.com/alisw/alidist/pull/1585

[2019-04-24 08:18] kreisl commented on #1485
I have the same problem when using conda with python 3.6 the includes are in the folder with a suffix m, but it's looking in the folder ".../includes/python3.6". A quick fix was to add a line to the boost.sh
[code]
The fake_bin/python-config was created but it was not called before compilation.
During compilation boost then picked up the wrong includes.
Is it supposed to go into this branch of the

[2019-04-30 14:53] ktf commented on #1485
Please have a look if https://github.com/alisw/alidist/pull/1610 fixes your issue.

[2019-04-30 14:54] ktf commented on #1389
nanomsg is now gone. Closing.

[2019-04-30 14:54] #1389 closed

[2019-05-02 13:38] dennisklein opened #1614 "Boost 1.70.0 and CMake lessons"
Dear alidist maintainers,

I would like to share some lessons I learned with Boost `1.70` to save some time when these issues pop up. Since version `1.70` Boost installs its own CMake package by default. While I applaud this effort (no need to update CMake any more for newest `FindBoost.cmake`), it comes with some issues:
* The `QUIET` argument passed to `find_package()` is ignored ([this is fixed

[2019-05-03 07:35] kreisl commented on #1485
#1610 doesn't fix it for me.
I still need to add the line 45 for it to compile boost with python.
Otherwise it cannot find the python includes during compilation.
[code]

[2019-05-03 12:45] Barthelemy opened #1618 "o2-dataflow defaults is broken"
The commit 9eb2f1f2c80eb5a783dda52e0883ad57d1f3794f " Add AEGIS as a module required by O2 (#1593) " broke it.

Error reads :
[code]

[2019-05-03 12:46] Barthelemy commented on #1618
@teo @awegrzyn @shahor02 @dberzano

[2019-05-03 12:48] awegrzyn commented on #1618
Yup, I've been adding to all my recipes:
[code]

[2019-05-03 12:49] Barthelemy commented on #1618
Adding it to aegis should be enough in the end : https://github.com/alisw/alidist/pull/1619

[2019-05-03 12:52] awegrzyn commented on #1618
Not sure if it's good idea as `AEGIS` requires `pythia6` which is disabled in `o2-dataflow`.

What about disabling `AEGIS` in `o2-dataflow` defaults?

[2019-05-03 13:06] #1618 closed

[2019-05-06 10:34] kostorr opened #1621 "Control-Core build on macOS still failing"
I am still having problem with building Control-Core for macOS.

1) The requirement `- "GCC-Toolchain:(?!osx)"` seems to go unnoticed.
2) Removing the conditional and forcing the dependency results in the following errors with and without the `--no-system` flag
[control-mac.log](https://github.com/alisw/alidist/files/3147516/control-mac.log)
[control-nosystem-mac.log](https://github.com/alisw/alid

[2019-05-06 10:44] teo commented on #1621
@kostorr none of these seem to fail in Control-Core itself.
@dberzano could you please provide some insight?

[2019-05-06 11:32] dberzano commented on #1621
I have found a problem in the gRPC recipe (where OpenSSL as dependency should actually be `OpenSSL:(?!osx)`. Apart from that, the requirements are absolutely correctly parsed on my system.

My command (this includes Control-Core as a dependency):

[code]

Are you providing extra flags to the command? What Python version are you using?

[2019-05-06 11:42] kostorr commented on #1621
No extra flags. Ran once with the command you referenced and one with the`--no-system` flag.

[code]

[2019-05-07 12:07] Barthelemy commented on #1614
thanks a lot

[2019-05-09 09:27] ironMann opened #1628 "python-modules build failure on centos7 (matplotlib)"
Hi, I have a build failure in python-modules while trying to build o2 with o2-dataflow defaults on a centos7 server. (manual alibuild without docker)

Logs [here](https://cernbox.cern.ch/index.php/s/6Hyx3F0stEUFreV)

This diff fixes it for me:
[code]

[2019-05-09 09:29] ktf commented on #1628
I guess it makes sense. Can you open a PR with it? Could you also add a test making sure that lib itself exists?

[2019-05-09 11:09] awegrzyn opened #1629 "Failed to compile FairMQ on macOS"
Very strange as I did't have such problem before, any hints?

[code]

[2019-05-09 11:09] ktf commented on #1629
brew install icu

[2019-05-09 11:10] ktf commented on #1629
I think that depending on how you compile boost, you might have to add it.

[2019-05-09 11:14] awegrzyn commented on #1629
Thanks, after reinstalling `icu4c` everything works. Sorry for the false alarm.

[2019-05-09 11:14] #1629 closed

[2019-05-13 15:23] kostorr commented on #1621
Any suggestions on how to proceed with this?

[2019-05-14 07:31] ktf commented on #1621
Could you provide us the result of:

[code]

[2019-05-14 09:41] kostorr commented on #1621
[doctor.txt](https://github.com/alisw/alidist/files/3176923/doctor.txt)
[deps.pdf](https://github.com/alisw/alidist/files/3176924/deps.pdf)

[2019-05-14 12:52] #1369 closed

[2019-05-16 20:33] #1628 closed

[2019-05-21 11:51] awegrzyn commented on #1621
This is where it fails:
[code]
So I guess this is connected with InfoLogger, calling @sy-c

@teo Why `Control-Core` must depend on MySQL? Is it possible to use `libInfoLogger` instead?

[2019-05-21 11:57] teo commented on #1621
@awegrzyn Control-Core doesn't need MySQL at all. It is technically very feasible to depend on `libInfoLogger` instead, but infrastructure-admin prefers to keep the libInfoLogger package without a dependency on Go. Such a dependency is needed to generate the Go interface. We ended up keeping `libInfoLogger` C++ only, and `InfoLogger` built with all the language bindings. I can't say I'm happy abou

[2019-05-21 12:00] awegrzyn commented on #1621
@teo After getting rid of InfoLogger problem `Control-Core` fails on:
[code]

[2019-05-21 12:00] kostorr commented on #1621
Here is the clang error.

[control-mac-clang.log](https://github.com/alisw/alidist/files/3202382/control-mac-clang.log)

[2019-05-21 12:00] kostorr commented on #1621
Exactly...

[2019-05-21 12:03] teo commented on #1621
@kostorr @awegrzyn I guess we need to find the clang-equivalent of that parameter. This looks related https://reviews.llvm.org/D37726

[2019-05-21 12:06] sy-c commented on #1621
I don't think there is a similar option available for clang. See e.g. https://stackoverflow.com/questions/22622477/what-to-replace-static-libgcc-with-when-using-clang

[2019-05-21 12:52] Barthelemy commented on #1621
I can only confirm the problem.

[2019-05-21 12:55] Barthelemy commented on #1621
If I remove the options from the makefile it compiles.

[2019-05-21 13:05] kostorr commented on #1621
Yes, but then on execution, it will crash with a SIGABRT when InfoLogger is used.

[2019-05-21 14:49] teo commented on #1621
@kostorr Does this happen when executing with InfoLogger alienv-loaded?

[2019-05-21 15:08] Barthelemy commented on #1621
it happens using alibuild, i.e. without alienv as they are not "compatible". If you load the env then you can't run alibuild.

[2019-05-21 15:09] kostorr commented on #1621
@teo Yup, no change.

[2019-05-24 11:59] #1584 closed

[2019-05-24 12:49] marcovanleeuwen opened #1653 "Error compiling Python 3.6 on SL6"
Dear all,

I get an error message when aliBuild it trying to compile Python 3.6 on an SL6 machine. We use a Python 2.7 module to run aliBuild; I can also get Python 3.5 via modules, but not 3.6.

The error message in the log file is:

Fatal Python error: Py_Initialize: Unable to get the locale encoding
  File "/cm/shared/apps/python2.7/lib/python2.7/encodings/__init__.py", line 123
    raise Codec

[2019-05-25 20:31] marcovanleeuwen commented on #1653
After some googling, I found that this error can be avoided by doing 'unset PYTHONPATH' before invoking alibuild. I am not sure what this does, but in the post that I found it was suggested that that if PYTHONPATH is set (incorrectly?), python may be picking up files from a different python installation.

Is there a way to deal with this in the build recipe? E.g. by unsetting PYTHONPATH or by sett

[2019-05-25 20:42] marcovanleeuwen opened #1654 "Error compiling RooUnfold on SL6"
Dear Markus, all,

When compiling aliphysics on SL6, I get the following error message for RooUnfold:

make[2]: *** No rule to make target `/usr/lib64/lib64/libboost_unit_test_framework-mt.so.5', needed by `libRooUnfold.so'.  Stop.

It looks like there is a double 'lib64' in the directory name. I went a bit through the CMake files, but could not identify where this is done. Earlier in the log file

[2019-05-29 09:45] mfasDa opened #1656 "Boost recipe using headers from brew boost on macOS"
Dear experts,

It turned out that

export CPLUS_INCLUDE_PATH="$CPLUS_INCLUDE_PATH:$(python3 -c 'import sysconfig; print(sysconfig.get_path("include"))')"

makes the boost build picking up boost headers from brew in case the python3 installation comes from brew as well. As on mac boost is anyhow not built with boost support can we put this line within a protection ("if [ $ARCHITECTURE == osx ] ..."

[2019-06-05 11:32] marcovanleeuwen commented on #1653
Dear all,

Someone else also ran into this problem and reported it on the mailing list. I don't know enough about Python to judge whether this simple solution is the proper one. Any comments from the Python afficionados?

Marco.

[2019-06-05 11:39] ktf commented on #1653
What is not clear to me is why do you need python2.7 at all. Can't you simply run aliBuild with python 3?

[2019-06-05 12:13] marcovanleeuwen commented on #1653
Hi Guilio,

The reported problem was on a Linux system, which I think had python 2.7 as the system version. I don't know who sets the PYTHONPATH there; it may have been a module that was loaded.

On my laptop, a Macbook, I just realised that some of this was due to a virtualenv that I was using on recommendation of Dario, to avoid another issue (which I don't remember).

Python 2.7 seems to be the

[2019-06-05 12:44] ktf commented on #1653
Running in a virtualenv with python2.7 and then trying to use python3 is indeed up to troubles. I myself had to redo my whole laptop setup since we moved to python3 exactly because of this issue. The only solution I've for the moment is making sure that you have aliBuild both in your python2 and python3 environments, to avoid "cross-overs".

[2019-06-06 09:45] siscia opened #1667 "CMake requires make"
Hi all,

CMake requires make to build, CMake does requires the GCC-Toolchain, which should include `make`, however no check is done in GCC-Toolchain to making sure that make is really there.

Cheers,

[2019-06-06 15:41] siscia opened #1668 "Python requires SSL"
I believe that python requires the OpenSSL package, roughly here: https://github.com/alisw/alidist/blob/master/python.sh#L9 but also here: https://github.com/alisw/alidist/blob/master/python.sh#L28

Installing python from yum seems to fix the problem.

[2019-06-10 13:38] mfasDa commented on #1656
@dberzano @ktf Would you agree with this fix?

[2019-06-10 13:46] ktf commented on #1656
I agree this is an issue, I am not sure what you want to do, though. Could you open a PR?

[2019-06-10 13:47] ktf commented on #1668
OpenSSL in principle comes from Alien, for historical reasons. What issue do you get?

[2019-06-10 13:57] mfasDa commented on #1656
Thanks for the reply! I will open a PR.

What I want to do is the following: The reason why this happens is that both the boost and the python headers are taken from /usr/local/include on macOS when python3 is installed via homebrew (which I assume is the standard case for mac), and by setting CPLUS_INCLUDE_PATH consequently the boost headers from homebrew are propagated. As the boost versions in

[2019-06-10 14:59] siscia commented on #1668
Hi,

Indeed I am building a peculiar project with AliBuild (SHiP) and so I may work in an environment a little singular. Moreover I was building it in a raw CC7 image.

Unfortunately I don't remember the exact error, I move on using alidock.

Are you guys interested in this kind of report?
I don't believe I will get many more, but if I do I can open it and paste the whole error along with the reci

[2019-06-10 20:24] ktf commented on #1668
Ah, yes, indeed you are right. I guess we should add support for standalone openssl installations not coming from Alien-Runtime. I am interested in all kind of feedback. Thank you for yours. I will try to see what I can do.

[2019-06-11 07:18] ktf commented on #1656
I understand the issue and I agree. Let's move the discussion to the PR.

[2019-06-11 07:18] #1656 closed

[2019-06-11 12:08] ktf commented on #1667
#1675 introduces a check for make. I will add it as a dependency for all the places where we do require it to build the package.

[2019-06-11 12:13] ktf commented on #1667
Closing this in favour of the PR.

[2019-06-11 12:13] #1667 closed

[2019-06-11 18:16] #71 closed

[2019-06-11 18:17] #270 closed

[2019-06-11 18:17] #307 closed

[2019-06-13 14:19] aphecetche opened #1680 "Recipe for glfw"
(talking about dependencies on Mac...)

I'd like to be able to compile w/ or w/o glfw on my Mac, without having to brew install/remove it.
If there was a glfw recipe that would be kind of easy, right ?

Or is there a reason of _not_ having such a recipe ?

(and yes, if we agree that'd be good to have, I'll make it ;-) )

[2019-06-13 14:36] ktf commented on #1680
The idea was that the GUI should not impose a requirement, especially in the beginning when I was not sure how it would have been welcome. Now that we give it a bit for granted, I guess we can have a proper recipe as well. That's my 2 cents, at least.

[2019-06-17 06:23] Barthelemy commented on #1680
The only risk I see is with alidock. If we install glfw automatically, the GUIs will be built and I am not sure what will happen when users will run a DPL workflow. Will it crash ?

[2019-06-17 06:53] aphecetche commented on #1680
Hi Barth,

Please see #1684 : I'm actually not proposing to install glfw automatically, just to have a recipe that makes it easy to install it.

Use case here is mainly for Macs I would say :  on those, if you install glfw with brew, then you are somehow forced to use it in O2 builds. With a recipe, you have the option (emphasis on option here) to uninstall glfw from brew, install it with the reci

[2019-06-17 07:52] Barthelemy commented on #1680
Hi,
Thank you for the clarification. It makes sense. Good.
See you

[2019-06-17 08:01] ktf commented on #1680
For the record. DPL should work just fine with the GUI compiled in but non-functional, e.g. because of missing display. Also notice that modules are not for compile time dependencies. At this point, where the GUI is largely accepted and actually missed if not there, why making it optional?

--
Ciao,
Giulio
On 17 Jun 2019, 09:54 +0200, Barthélémy von Haller <notifications@github.com>, wrote:

[2019-06-17 12:11] aphecetche commented on #1680
The initial idea was to be able to easily test the cmake build with (what we usually have on Macs) and without glfw (what we usually(?) have on CC7 servers) on the same machine (either Mac or CC7). And as stated above, the mere existence of a glfw recipe makes that possible without changing anything to the current situation, which I guess is just a win-win deal.

I personally would not make glfw a

[2019-06-24 13:51] qgp opened #1702 "New AliGenerators build"
Hi @dberzano, @ktf,

we would need a new build of the AliGenerators suite (with versions and code as in alidist already). Could you trigger this build, please? Or let us know in case of problems, of course.

Cheers,
   Jochen

FYI: @mfasDa

[2019-07-01 08:08] dberzano commented on #1702
Hi @qgp, I am trying to build it and I'll inform you on the status/problems.

[2019-07-02 07:37] dberzano commented on #1702
See #1714.

[2019-07-02 07:37] #1702 closed

[2019-07-12 08:10] yslai opened #1731 "AliPhysics fails to compile in Cray Compiling Environment without -DCMAKE_Fortran_COMPILER=gfortran"
AliPhysics CMake configuration fails on Cray systems with Cray Compiling Environment with
[code]
Tracing the `find_library()` function reveals that shared library support becomes deactivated after the Fortran compiler detection, when CMake finds the static-compilation-only `ftn` before `gfortran`:
[code]
Note that AliRoot does not suffer from this problem, since the `-DCMAKE_Fortran_COMPILER=gfort

[2019-07-22 14:27] awegrzyn opened #1743 "'abrt-cli status' timed out"
When using `aliswmod enter` to load a module installed by RPM I get an error:
[code]

This is caused by:
[code]

[2019-07-22 14:30] awegrzyn opened #1744 "Binaries installed by aliBuild RPMs require glfw"
RPMs generated today fail due to missing `glfw`:
[code]
This must be either reverted or `glfw` added to O2 spec file.

@dberzano @ktf @MichaelLettrich

[2019-07-22 14:33] ktf commented on #1743
What is `aliswmod`?

[2019-07-22 14:35] ktf commented on #1744
Mmm... What is actually causing the error? Simply installing the rpm?

[2019-07-22 14:38] ktf commented on #1744
https://github.com/alisw/alidist/pull/1684 is still unmerged, and that's the only think I can think of which might have caused it. How was the RPM built?

[2019-07-22 14:40] awegrzyn commented on #1744
Installation works well.
I renamed the issue as it was not clear.
[code]

[2019-07-22 14:41] awegrzyn commented on #1743
Well, it's a tool that comes together with aliBuild RPMs.

[2019-07-22 14:50] ktf commented on #1744
Ah, ok. I wonder if it's fallout from the CMake migration, forcing stricter dependencies. @davidrohr @aphecetche ? Maybe we should simply go ahead with #1684....

[2019-07-22 14:56] davidrohr commented on #1744
I think the problem might be that now the tracking builds automatically vs glfw if it is found on the system (Beforehand, a special CMake flag was required to build it vs glfw). Consequently, when we build an RPM on a system where glfw is available, the tracking will require it, so it will not run on a system without glfw. I think the same was true before for the DebugGUI, but that was probably no

[2019-07-22 14:57] ktf commented on #1743
Oh, well... Good to know... It's not part of `alibuild` itself though and I cannot find it right now (maybe in ali-bot?).

Anyways, I suspect what's happening is that such a script is invoking `rpm` and some recent centos7 update made `rpm` depend on a version of XZ incompatible with the one we ship in AliceO2.

Can you strace it / run with `-x`?

[2019-07-22 14:57] ktf commented on #1743
Are you in a nested environment?

[2019-07-22 15:13] awegrzyn commented on #1744
Just additional info, last QC version that does not require `glfw` is `QualityControl/v0.15.2-1`.
`QualityControl/v0.15.2-2` already requires it.

[2019-07-22 15:17] ktf commented on #1744
The dependency on GLFW in the build machine is there since a almost a year https://github.com/alisw/docks/commit/93f763d3a2c77c6873e5ab671b707eff6c1cd301#diff-af65ad152a6a7488c2b8a6e2311926df . Maybe some CC7 implicit dependency has changed and it's not installed on target system anymore?

[2019-07-22 15:22] awegrzyn commented on #1744
@ktf In the `yum deplist` there's no GLFW even in old version.

[2019-07-22 20:38] awegrzyn commented on #1743
It's a physical machine with CRU configured.

[2019-07-22 21:02] ktf commented on #1743
I meant if you did `aliswmod enter` twice.

[2019-07-23 07:01] awegrzyn commented on #1743
Nope, just once

[2019-07-24 12:34] Barthelemy commented on #1614
By the way, I have just tried cmake 3.15 on mac and fairroot does not build :
[code]
Is it something you are aware of  ?

[2019-07-24 20:53] dennisklein commented on #1614
I was not, but a quick git bisect revealed FairRootGroup/FairRoot@7beb33524a7afe64a4a20534c9f7b38b4657924c.

[2019-07-26 12:00] MichaelLettrich commented on #1225
Hi, is this issue still relevant?

[2019-08-02 11:35] kostorr opened #1760 "Alicache errors when building"
I get the following errors (similar for all dependencies), running:

`aliBuild build -d --defaults=o2-dataflow ReadoutCard`

Is this an issue with alicache or with the way my dev environment is set up?

[code]

[2019-08-02 11:38] awegrzyn commented on #1760
Marking it short alicache is down due to
[code]
@dberzano @ktf @MichaelLettrich @pzhristov Could you fix it ASAP?

[2019-08-02 12:25] MichaelLettrich commented on #1760
Hi, @Atlantic777 reported this error earlier already. Unfortunately I have no idea where the machine is nor do I have the rights to access it. I will try to get access to it and see what the problem is or forward it internally to the right people

[2019-08-05 08:24] ktf commented on #1760
https://alice.its.cern.ch/jira/browse/O2-806

[2019-08-06 07:13] ktf opened #1762 "Is @alisw/pwgmm obsolete as a name?"
It looks like in CODEOWNERS we refer to a pwgmm group which AFAICT does not exist anymore. Did this change and we forgot to update CODEOWNERS?

https://github.com/alisw/alidist/blob/90c770fc183c60ba7e6ef78879297536024dd9af/CODEOWNERS#L26

[2019-08-06 07:13] ktf commented on #1762
@qgp @dberzano

[2019-08-09 10:14] kostorr commented on #1760
Are there any updates? Since this morning aliBuild takes 15minutes as the time between different attempts contacting aliCache has increased signifcantly.

[code]

[2019-08-09 10:34] ktf commented on #1760
Could you check now?

[2019-08-09 11:41] kostorr commented on #1760
Yup, it's good.

[2019-08-09 18:31] adriansev opened #1772 "EL7 cvmfs Python/v3.6.8-2 : pip3 breaks because libffi.so.5 not found"
trying to use pip3 from dependencies of vAN-20190808_ROOT6-1 i get
[code]

[2019-08-13 08:52] #1760 closed

[2019-08-26 11:56] awegrzyn opened #1799 "Python should be built before boost"
I don't know when it actually happened but when building ReadoutCard (or any other package) `boost` is built before `python`.
[code]

Due to that boost_python36 is not built:
[code]

And eventually ReadoutCard fails:
[code]

[2019-08-26 11:56] awegrzyn commented on #1799
@kostorr

[2019-08-26 12:00] ktf commented on #1799
Are you on mac? For some reason, since the python3 migration, boost does not depend on python there anymore:

https://github.com/alisw/alidist/blob/master/boost.sh#L7

Could you try removing such the (?!osx) constrain?

[2019-08-26 12:01] ktf commented on #1799
Even better, could you make the dependency of "Python" not "Python-modules".

[2019-08-26 12:02] awegrzyn commented on #1799
Hi @ktf, Nope, I'm on CC7.

[2019-08-26 12:11] ktf commented on #1799
Weird. Could you attach the result of:

[code]

(or whatever you are using as a recipe)?

[2019-08-26 12:18] awegrzyn commented on #1799
Wow, I didn't know we had such a nice visualisation.
So eventually the problem is that  I am not using any defaults.
[dataflow-defaults](https://github.com/alisw/alidist/files/3541053/with-system-dataflow.pdf)
[no-defaults](https://github.com/alisw/alidist/files/3541054/with-system.pdf)

[2019-08-26 12:30] ktf commented on #1799
Ah, yes, it might be that for Run2 we do not want the dependency of boost on python to avoid having fastjet depend on python... Maybe it should be discussed with the physics community to finally try to harmonise Run2 and Run3 configs...

[2019-08-26 12:31] #1799 closed

[2019-08-26 12:37] awegrzyn commented on #1799
Ok, thanks !

[2019-08-27 17:08] ihrivnac opened #1805 "Inexistent tag name in debuggui.sh"
There is no tag v0.1.0 in https://github.com/AliceO2Group/DebugGUI.
This causes an error when running a private scripts for evaluation of  total number of code lines in AliceO2Group SW packages.

[2019-08-27 17:13] ktf commented on #1805
I will fix it. Could you make the script public, please?

[2019-08-27 18:03] ihrivnac commented on #1805
Thank you. The script is not mine, so I have to check with the author if it can be published.

[2019-08-30 16:36] raymondEhlers opened #1807 "Python-modules site-package interferes with python virtualenv"
Dear Experts,

I recently updated my alidist, and it appears that some changes in how python is handled have make my workflow unusable. I use separate virtual environments per python package which I develop (which as I understand it, is a best practice for development). But it appears that adding the alibuild site-packages to the PATH and PYTHONPATH makes using a virtualenv extremely difficult.

F

[2019-09-02 11:19] #876 closed

[2019-09-16 05:40] adriansev opened #1825 "python-modules :: add new dependencies for the python alien cli"
Hi! for the new alien cli tool (see [here](https://gitlab.cern.ch/jalien/xjalienfs)) there are some new dependencies. the exact list is :
[code]

the xrootd case is somewhat special because it needs to be configured with python enabled

[2019-09-19 14:16] Barthelemy opened #1830 "Tests are not executed during QC PRs"

[2019-09-19 18:24] ktf commented on #1830
The problem is that in `qualitycontrol.sh` the incremental recipe does not actually do any tests, just the full rebuild. You should add the extra stuff also there.

[2019-09-20 06:49] Barthelemy commented on #1830
ahhhhh of course, I did not think of this. Thanks !

[2019-09-20 10:29] Barthelemy commented on #1830
https://github.com/alisw/alidist/pull/1833

[2019-09-20 11:19] #1830 closed

[2019-09-25 10:13] mfasDa opened #1840 "Clang installation breaking on mac"
Clang installation (dependency of o2codechecker) is breaking on mac (10.14.6) with the following error:

DEBUG:o2codechecker:Clang:aliceo2: ++ chmod u+x /Users/markusfasel/alice/sw/INSTALLROOT/a648ad042743447e1e4818773d90be917e387d88/osx_x86-64/Clang/7.0.0-1/bin/git-clang-format
DEBUG:o2codechecker:Clang:aliceo2: ++ find /Users/markusfasel/alice/sw/SOURCES/Clang/7.0.0/v7.0.0-alice1/tools/clang/too

[2019-09-25 14:14] maireiphc commented on #1762
The name seems to have changed indeed in the meantime for **alipwgmm** instead of pwgmm.
As you seem to have noticed or changed yourself.
By now, we can close this issue, I believe.

[2019-10-01 08:19] ironMann opened #1845 "gcc 7.3.1 (devtoolset-7) fails to compile arrow 0.14.1 (Centos7)"
There seems to be a known internal compiler error in 7.3.1 series affecting compilation of the new arrow version. [Bugfix advisory ](https://access.redhat.com/errata/RHBA-2018:3562) suggest using devtoolset-8, see [Bug 1629813](https://bugzilla.redhat.com/show_bug.cgi?id=1629813)

What is the recommended solution here?
Can O2 be built with devtoolset-8, which would match Centos8 version?

Here's t

[2019-10-01 08:41] ktf commented on #1845
I think the 8 is for GCC version, not for the centos one. Given devtoolset-7 is not installed anymore on lxplus at CERN, I would vote we simply drop support for it.

[2019-10-01 08:42] davidrohr commented on #1845
Didn't we want to switch to GCC 8 anyway? Perhaps we should test devtoolset 8?

[2019-10-01 08:45] ironMann commented on #1845
I meant Centos8 comes with gcc8.2. Using devtoolset-8 would make us closer to that.

[2019-10-01 11:17] ktf commented on #1845
@ironMann yes, correct.

@davidrohr there is some stuff to be done in order to be able to deploy GCC 8 on CVMFS, and I did not get around to do it yet.

[2019-10-01 11:18] ktf commented on #1845
That of course does not mean that we cannot simply support GCC 8 if one has it on the system, though.

[2019-10-01 13:49] ironMann commented on #1845
Closing this since the same build passes with devtoolset-8.

[2019-10-01 13:49] #1845 closed

[2019-10-04 03:55] Isaac-Kwon opened #1848 "Error during aliBuild build (git checkout error)"
https://github.com/alisw/alidist/blob/ae0aa9ac8c0040618af50572dcdb30a4796620b9/hepmc.sh#L3

During aliBuild build, error is occurred in git checkout.
There's no tag "v2.06.10" but "2.06.10" in gitlab.

[2019-10-04 06:58] ktf commented on #1848
Thanks. Following this up in #1849

[2019-10-04 06:58] #1848 closed

[2019-10-17 03:30] jolopezl opened #1866 "fastjet broken on mac"
After PR #1454 (@davidrohr), cgal builds(thanks! I had it hacked before), but fastjet compilation fails now.

See https://cernbox.cern.ch/index.php/s/ZQ7v95mLEeqOY7l for a complete log. I think the biggest problem is that `std::random_shuffle` in cgal, is not in c++17 anymore:

`error: no member named 'random_shuffle' in namespace 'std'; did you mean simply 'random_shuffle'?
        std::random_sh

[2019-10-17 06:53] davidrohr commented on #1866
That is actually weird, the PR was particularly to make cgal/fastjet/AliRoot build with O2 defaults, and it worked few months ago when I opened the PR. So something must have gone wrong in the mean time. I'll have a look. It is definitely my goal to work out a solution. The aim is to be able to build AliRoot/AliPhysics with --defaults o2.

[2019-10-17 11:33] jolopezl commented on #1866
This is exactly what I need.

Before I had fixed cgal and it worked, but I just removed the register type to avoid the problems with c++17. The problem now seems to be that random_shuffle is gone, but I don't know what this didn't come up earlier.

[2019-10-18 09:51] davidrohr commented on #1866
Hi @mfasDa : I do not really understand what you mean? In the current cgal.sh recipe, it uses "." as CMake source dir? Could you explain more exactly what you mean or open a PR that fixes this?

[2019-10-18 10:05] mfasDa commented on #1866
Hi @davidrohr, sorry for the spam - my fault! Was a remanent of a hack I applied getting the more modern CGAL from the git for builds using o2 defaults. Sorry again! Cheers Markus

[2019-10-28 11:39] Barthelemy commented on #1743
`aliswmod` = `alienv` for rpms

Instructions we are following : https://aliceo2group.github.io/quickstart/binaries.html

The oldest reference in my emails is from June 2018, if that helps.

I see a few lines about it in `ali-bot/publish/pub-rpms-template.sh` :
[code]

[2019-10-31 13:53] #1805 closed

[2019-11-13 21:49] marcovanleeuwen opened #1883 "Error loading Python module on SL6"
Dear experts,

AliBuild compiles a Python 3.6.8 version on my SL6 system, but then it fails loading the module file, with the following error:

`
[leeuw179@quark ~]$ alienv load VO_ALICE@Python::v3.6.8-2
Use alienv list to list loaded modules.
Python/v3.6.8-2(34):ERROR:102: Tcl command execution failed: setenv SSL_CERT_FILE  [exec python3 -c "import certifi; print(certifi.where())"]
`

One possibl

[2019-11-17 14:44] marcovanleeuwen commented on #1883
After digging a bit more, it seems to have to do with having more than one python version in PYTHONPATH environment variable (I had a python 2.7 version loaded from a system module). Changing

`prepend-path PYTHONPATH \$::env(ROOTSYS)/lib`

to

`setenv prepend-path PYTHONPATH \$::env(ROOTSYS)/lib`

fixed the issue for me.

Best regards,

Marco.

[2019-12-06 03:05] thakurd3 commented on #1225
Hi,
Is you problem solved?  I am getting similar issue to Link with Vc library.

The error message as follow:

Error: Function checkLibraryAbi(VC_LIBRARY_ABI_VERSION,VC_VERSION_NUMBER,VC_VERSION_STRING) is not defined in current scope  version.h:45:

Can you please guide, how to solve.

Thank you

[2019-12-10 10:34] awegrzyn opened #1930 "LLVM recipe fails on macOS 10.15.1 during "Installing" phase"
Build completed successfully

[code]

[2019-12-11 07:43] awegrzyn opened #1932 "Python-modules compilation fails on CC7"
[code]

[2019-12-11 07:45] awegrzyn opened #1933 "XRootD installation fails on macOS after merging PR#1908"
https://github.com/alisw/alidist/pull/1908

[code]

[2019-12-11 07:55] awegrzyn commented on #1933
[code]

[2019-12-11 08:25] ktf commented on #1930
Can you provide the full build log?

[2019-12-11 08:28] ktf commented on #1930
#1920 should fix it (I thought it was already merged). Can you update alidist?

[2019-12-11 09:14] awegrzyn commented on #1930
yes, thanks !

[2019-12-11 09:14] #1930 closed

[2019-12-11 10:28] awegrzyn opened #1935 "aliBuild compiles Python-modules on new macOS"
New XCode/macOS comes with it's own `python3`:
[code]

When I use it `aliBuild` wants to compile "Python-modules@1.0" instead of picking it up from system.

[2019-12-11 10:31] awegrzyn commented on #1935
@ktf How can I find out why Python-modules are not picked up from system, `aliDoctor` only returns:
[code]

[2019-12-11 10:53] ktf commented on #1935
They are always built:

[code]

this is one the disagreements there was in WP3 in the past when we migrated to python3. The quickest route is not to depend on `Python-modules` but just `Python`.

[2019-12-11 11:20] awegrzyn commented on #1935
Sure that'd be great, but unfortunately `root.sh` fails without Python-modules

[2019-12-11 13:22] awegrzyn commented on #1935
I let `Python-modules` to compile but then I got this from ROOT:
[code]

[2019-12-12 07:26] awegrzyn commented on #1933
I disabled `XRootD` in `o2-dataflow` defaults so the compilation goes on.

[2019-12-12 09:30] #1762 closed

[2019-12-16 18:00] valzacc commented on #1933
Hello, I have the same issue

[2019-12-17 10:17] awegrzyn commented on #1933
Moved to https://alice.its.cern.ch/jira/browse/O2-989

[2019-12-17 10:17] #1933 closed

[2019-12-17 13:36] sy-c commented on #1932
Not related to the same cause, I also had problems in aliBuild for python-modules to compile.

/v1-11/lib: PYTHONHOME=/home/sylvain/alibuild_test/sw/INSTALLROOT/9d6a605324a981c4b60b429d5551b387660ec14b/slc7_x86-64/Python/v3.6.8-1 python3 -c 'import _tkinter'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named '_tkinter'

I managed to fix i

[2019-12-17 13:58] ktf commented on #1932
The prerequisites are listed in:

https://alice-doc.github.io/alice-analysis-tutorial/building/prereq-centos7.html

which is obviously too verbose, but it does list `tk-devel`.

That said I am trying to put together a meta-RPM at:

https://github.com/alisw/alice-system-deps

which should simplify things, but I am fighting with some authentication issues when trying to publish from Travis. I will k

[2019-12-17 14:35] sy-c commented on #1932
Such meta-rpm would be nice indeed!

Independently of these good instructions (which have unfortunately changed since last time I copied them to my setup script, missing this last tk-devel item), I would expect that alibuild checks all system dependencies and report which are not satisfied before starting to compile anything, to avoid potentially obscure error messages later. I had the impression

[2019-12-17 14:36] Atlantic777 commented on #1825
I think this can now be closed. The xjalienfs recipe is in the master and alien.py seems to work from CVMFS.

[2019-12-17 14:39] #1825 closed

[2019-12-17 14:39] ktf commented on #1825
Closing this. Reopen if issues still persist.

[2019-12-17 14:42] ktf commented on #1932
yes, we could introduce a system check of tkinter. as well.

[2019-12-22 17:14] ktf commented on #765
Reopen if still the case.

[2019-12-22 17:14] #765 closed

[2019-12-22 17:17] ktf commented on #1680
GLFW is now included as a dependency of DebugGUI.

[2019-12-22 17:17] #1680 closed

[2019-12-24 14:28] #1866 closed

[2020-01-06 22:35] wiechula opened #1968 "Handling of system library detection for aliBuild / alidist; compilation on arch"
I'm trying to compile o2 on arch linux (I know it is not a supported platform).
For many required packages I have installed the libraries on the system. However, alibuild still compiles them. This is the list (might be more):
* protobuf
* vc
* double-conversion
* llvm
* openssl 1.0 (sitting in /usr/include/openssl-1.0/ /usr/lib/openssl-1.0)
* googletest
* fmt
* libtirpc
* bz2 (although there is no

[2020-01-06 22:39] davidrohr commented on #1968
Hi Jens,

I am also using the force unknown architecture flag on Gentoo. That is not really a problem.

There is a couple of packages (you list several) which do not have a prefer system option, so they will always be built. I have added corresponding system options fory setup for many packages. You can do the same. However, this cannot be merged into alidist master because it might break the supp

[2020-01-06 22:46] wiechula commented on #1968
Hi David, thanks for the quick reply. Do you have your alidist somewhere that I can copy from what you did?
I'm not sure about the impact, but perhaps the second fix above:
[code]
could be committed. Otherwise my platform is not detected for some reason. The first one is not really needed.

[2020-01-06 22:48] davidrohr commented on #1968
If you use the unknown architecture flag, it shouldn't matter whether it is detected.

I have the patches in my alidist fork. But i usually just force a system package without a proper check.

[2020-01-07 08:00] wiechula commented on #1968
Thanks for the hints!

[2020-01-07 08:00] #1968 closed

[2020-01-08 10:14] #1935 closed

[2020-01-08 13:21] awegrzyn opened #1977 "Python mismatch on macOS 10.15.2 when compiling ROOT"
[code]

[2020-01-08 13:23] awegrzyn commented on #1977
FYI: New macOS comes with both python 2.7 and 3.7.3, I don't have any other python from brew.

[2020-01-08 13:36] awegrzyn opened #1978 "O2@dev fails to compile on CC7"
[code]

[2020-01-08 13:53] awegrzyn commented on #1978
`yum install -y glfw-devel --enablerepo=epel` fixed the problem, but I guess this should be detected on aliBuild level

[2020-01-10 07:42] awegrzyn commented on #1977
https://alice.its.cern.ch/jira/browse/O2-1012

[2020-01-10 07:42] #1977 closed

[2020-01-11 19:03] #1485 closed

[2020-01-11 19:05] ktf commented on #1268
I think this is now cleaned up. Closing.

[2020-01-11 19:05] #1268 closed

[2020-01-11 19:05] ktf commented on #1165
-

[2020-01-11 19:05] #1165 closed

[2020-01-11 19:06] #1361 closed

[2020-01-11 19:07] ktf commented on #977
closing this as I guess it's not relevant anymore.

[2020-01-11 19:07] #977 closed

[2020-01-11 19:09] ktf commented on #410
Closing this, as the S3 repository will hopefully scale better than the Rsync approach and it's already "world" available.

[2020-01-11 19:09] #410 closed

[2020-01-11 19:09] ktf commented on #1772
I think this is long solved. Closing.

[2020-01-11 19:09] #1772 closed

[2020-01-11 19:10] #1243 closed

[2020-01-11 19:11] #359 closed

[2020-01-13 15:22] adriansev opened #1994 "EL7 :: python fails with no obvious reasons"
Python building give an error message but no error is obvious. log files can be found [here](http://issaf.spacescience.ro/adrian/alibuild/python/)
Latest messages in log report success in operations.
The upstream (centos base) pytho3.6 in installed and pip updated in user home

[2020-01-13 15:25] adriansev opened #1995 "EL7 : presence of libmacaroons-devel breaks xrootd compilation because of alidist uuid"
When libmacaroons-devel is detected by xrootd and it is enabled, the compilation breaks with:
[code]
log files can be found [here](http://issaf.spacescience.ro/adrian/alibuild/xrootd/)

[2020-01-13 15:32] ktf commented on #1995
@Atlantic777 any idea?

[2020-01-13 15:58] adriansev commented on #1995
for reference the compilation (devtoolset-7) with system dependencies (all of them but tests disabled) works without problems (libuuid-devel-2.23.2-61.el7_7.1.x86_64 libuuid-2.23.2-61.el7_7.1.x86_64)

[2020-01-15 16:57] ironMann opened #2001 "DebugGUI build error Centos7"
Centos7 build error:

`aliBuild build DataDistribution --debug --defaults o2-dataflow`

[code]

Can DebugGUI be disabled in this defaults?

[2020-01-15 18:45] ktf commented on #2001
Are you using the latest `alidist`? I think this was fixed.

[2020-01-15 18:57] ironMann commented on #2001
Alidist was pulled this moning from master branch.
[code]

Any idea why don't I get prebuild version?

here's the complete log:
[code]

[2020-01-16 10:55] ironMann commented on #2001
I'm able to proceed to O2 build suing `--disable DebugGUI`, but there are numerous cmake issues like:
[code]

[2020-01-17 08:20] Atlantic777 commented on #1995
I have just reproduced this, I'm working on it now.

[2020-01-23 19:47] #1995 closed

[2020-01-30 23:48] ktf commented on #1807
#2034 might solve this, once merged.

[2020-01-30 23:48] ktf commented on #1840
I think this was fixed. Reopen if not the case.

[2020-01-30 23:48] #1840 closed

[2020-01-30 23:49] ktf commented on #1653
Can you check if #2034 simplifies your setup / works for you?

[2020-01-31 04:52] marcovanleeuwen commented on #1807
Hi Giulio,

I tried this, but it does quite work; the error message that I get is:
/data1/software/alisoft/BUILD/7d9fd197b2480f46ef88122c7bbc6a651322bb2f/Python
+ env PATH=/data1/software/alisoft/INSTALLROOT/7d9fd197b2480f46ef88122c7bbc6a651322bb2f/slc6_x86-64/Python/v3.6.10-1/bin:/data1/software/alisoft/slc6_x86-64/libffi/v3.2.1-2/bin:/data1/software/alisoft/slc6_x86-64/AliEn-Runtime/v2-19-le-6/b

[2020-01-31 05:05] marcovanleeuwen commented on #1653
Hi Giuilio,

I tried this, but it does quite work. However, it does work when I unset PYTHONPATH (as in the past); that may be a specific issue on this particular system, where python 2.7 is loaded as a module, and:

`
echo $PYTHONPATH
/cm/shared/apps/python2.7/lib/python2.7
`

the error message that I get without unsetting pythonpath is:

/data1/software/alisoft/BUILD/7d9fd197b2480f46ef88122c7bbc

[2020-01-31 20:49] raymondEhlers commented on #1807
Thanks! I'll try it out when I get a chance.

If I understand the changes correctly, it's definitely an improvement (I should be able to easily load the aliBuild created virtualenv to change packages if I must), but I don't think this will entirely solve my issue. Namely, I think the virtualenv created by aliBuild will still shadow any other virtualenv that I might load. So I still won't be able t

[2020-01-31 23:23] ktf commented on #1807
We checked this with @miranov25 today. What we really need to do on top is an `alivirtualenv` which does the following:

* Use it to create a new virtualenv
* Put python-modules $PYTHONPATH a `.pth` file in the virtualenv `site-packages` folder.
* Change the activate script to do unset $PYTHONPATH.

This will allow a new virtualenv on top of the one which is provided with python-modules.

[2020-02-02 10:21] marcovanleeuwen commented on #1653
Hi Guilio,

Now it works!
(even without 'unset PYTHONPATH')

Marco.

[2020-02-02 20:38] ktf commented on #1653
Can you try again with the latest fix?

[2020-02-02 21:23] marcovanleeuwen commented on #1653
Hi Giuiio,

This seems to be a step back, now I get this error while compiling:

Fatal Python error: Py_Initialize: Unable to get the locale encoding
  File "/cm/shared/apps/python2.7/lib/python2.7/encodings/__init__.py", line 123
    raise CodecRegistryError,\
                            ^
SyntaxError: invalid syntax

Current thread 0x00002aaaac6b9ce0 (most recent call first):
/data1/software/ali

[2020-02-03 10:01] raymondEhlers commented on #1807
That sounds like it would be a good solution. I look forward to the future development. Thanks!

[2020-02-03 10:38] davidrohr opened #2045 "rsync not required as system package"
Basic containers that don't have rsync installed failed in aliBuild, but this is not reported by aliDoctor

[2020-02-03 12:48] marcovanleeuwen commented on #1653
I could compile with 'unset PYTHONPATH', but still get the same error message.

What I noticed is that there is a python3 executable in python-modules. Is that expected?

`which python3`
`/data1/software/alisoft/slc6_x86-64/Python-modules/1.0-9/share/python-modules/bin/python3`

[2020-02-07 17:38] ktf commented on #2045
well rsync is only needed when you use the rsync backend for the repository. Moving to S3 will remove the need for it.

[2020-02-07 17:41] davidrohr commented on #2045
Well, but some of our alidist recipes use rsync. When you try to build O2 without rsync, the dependencies will fail.

[2020-02-07 17:43] ktf commented on #2045
ah, right. good point. Then we need to add a recipe for it and add a build_requires.

[2020-02-07 17:46] ktf commented on #2045
https://alice.its.cern.ch/jira/browse/O2-1110?filter=13341

[2020-02-07 18:56] ktf commented on #2045
I've added the recipe. We should now add it to places which use it.

[2020-02-07 18:57] davidrohr commented on #2045
Ok, I can do that later in order to share the work if you want.

[2020-02-07 18:58] ktf commented on #2045
Thanks. Probably we should do it as we change the recipes for other reasons, so that we do not trigger a rebuild just for this.

[2020-02-07 19:00] davidrohr commented on #2045
I thought about that as well, but then, will we always think of it? We can also do it once and let it rebuild over the weekend.
Or we create a dedicates pr for each package now, and then merge together when we merge something else.

[2020-02-07 19:42] ktf commented on #2045
Given I just merged lzma which was breaking FLP installations, we might as well do this? Actually I just realised that all the recipe with a module file require that because that's how we copy them in place, so we might want to do it for a few base packages (e.g. zlib, lzma, bzip2) and let the transitive closure do the rest...

[2020-02-07 21:39] davidrohr commented on #2045
+1

[2020-02-11 13:07] dennisklein opened #2067 "/include/ApMon.h:111:10: fatal error: rpc/rpc.h: No such file or directory"
When building `aliBuild build --defaults o2 O2 -u` (aliBuild `1.5.5`) on today's alidist `master` (ea3df47293b99100040a92aa85f36494d01d436b) I get the following error on Fedora 31:

[code]

Before I spend time fixing it, I wanted to make a quick poll, if this is a known issue? At first glance, I do not see why this would only fail on my machine? AFAICS, the missing header is part of another alibui

[2020-02-11 13:28] adriansev commented on #2067
apmon-cpp should pull libtirpc, see https://github.com/alisw/alidist/blob/master/apmon-cpp.sh#L6

[2020-02-11 13:35] dennisklein commented on #2067
It does and aliBuild also sets it up just before executing the `monitoring.sh` package:

[code]

The files exist and look reasonable:

[code]
[code]

[2020-02-11 15:41] adriansev commented on #2067
maybe also Monitoring should include libtirpc? it seems to me that it includes Apmon without including the libtirpc, so when ApMon.h is parsed, it does not find the relevant location for rpc.h ..

[2020-02-11 15:45] awegrzyn commented on #2067
Monitoring depends on ApMon (only with `o2` defaults, in `o2-dataflow` defaults ApMon is disabled) but not on `libtirpc`, therefore linking `libtirpc` from Monitoring is definitely not a way to go.
@costing Could you please help it fix it?

[2020-02-11 15:54] adriansev commented on #2067
you could try to add in monitoring.sh in build_requires the ApMon-CPP package

[2020-02-11 18:09] dennisklein commented on #2067
I wonder how can anyone build `--defaults o2` on Linux successfully? What is different on my machine that this fails?

[2020-02-11 18:30] awegrzyn commented on #2067
Are you using Ubuntu? I've just "built" it on CC7 using precompiled tarballs, which does not work on Ubuntu.
If I compile it from scratch (using `--always-prefer-system`) I got an error on `lhapdf`...

[2020-02-12 07:08] dennisklein commented on #2067
I use Fedora 31. So, the tirpc when compiled by alibuild probably never worked?

[2020-02-12 08:03] dennisklein commented on #2067
Ill just disable ApMon then, too. Thx

[2020-02-12 08:03] #2067 closed

[2020-02-12 08:19] awegrzyn commented on #2067
I'll try to reproduce it and follow it up.

[2020-02-12 15:37] ktf commented on #2045
Will consider this done for now. We might add the `build_requires` in a few other place as we get to change low level packages.

[2020-02-12 15:38] #2045 closed

[2020-02-12 20:17] ktf commented on #652
Closing this. Reopen if needed.

[2020-02-12 20:17] #652 closed

[2020-02-12 20:18] ktf commented on #704
I guess we can close this.

[2020-02-12 20:18] #704 closed

[2020-02-12 20:19] ktf commented on #788
I assume this is not an issue anymore. Closing. Reopen if still needed.

[2020-02-12 20:19] #788 closed

[2020-02-17 13:24] marcovanleeuwen opened #2086 "Yoda needs cython with fastjet 3.3.3"
Dear experts,

I am not sure what triggers this, but when build Herwig with the defaults=dev, i.e. fastjet 3.3.3,  I suddenly find that YoDa wants to have cython present.

I dug a bit trrough the config scripts, and this is how it seems to check whether cython is present:

[code]
When I try this with the system python, I get

[code]
which may not be caught by the configure script, although that wo

[2020-02-18 14:29] marcovanleeuwen commented on #2086
I looked a bit more at this, and it seems that when I do

aliBuild Herwig
there is no dependence on Python-modules

while
aliBuild Herwig --defaults=dev
adds Python-modules to the dependences

This is a bit puzzling, because in both cases, boost is required, and boost depends on Python-modules according to  the boost.sh recipe.

Could it be that there is a problem with the dependency parsing?

(NB

[2020-02-18 15:21] marcovanleeuwen commented on #2086
I tried removing the Python-modules dependence from boost. That fixes the issue with YODA, but the library
libboost_python
is not produced:
[code]
same when we use Python instead of Python-modules as the dependence...

[2020-02-18 16:05] marcovanleeuwen commented on #2086
OK, maybe now I get it. I was not sure which defaults file is used when you specify none, but maybe it is defaults-release.sh ? This one indeed disables the Python support in boost:
'''
  # Minimal boost with no Python & co.
  boost:
    requires:
      - "GCC-Toolchain:(?!osx)"
'''
We can do the same for defaults-dev.sh.

So I guess that this problem has been seen before...

Does anyone know whet

[2020-02-20 15:27] #1217 closed

[2020-02-25 15:35] davidrohr opened #2107 "git should be a system package that is generally required, or aliDoctor should bail out if git is not there"
Just tried to build on a CentOS8 container, and aliBuild failed with `Impossible to find reference for alidist`. Turns out the reason was that git was not installed.

[2020-04-09 09:48] ktf commented on #2001
I think this was fixed by @matthiasrichter. Closing. Reopen if you still have issues.

[2020-04-09 09:48] #2001 closed

[2020-04-14 08:12] #730 closed

[2020-04-14 08:13] ktf commented on #730
I think this is not an issue anymore. Reopen if it's the case.

[2020-04-14 08:13] ktf commented on #1994
I assume this was fixed long ago. Please reopen if not the case.

[2020-04-14 08:13] #1994 closed

[2020-04-14 08:14] #1307 closed

[2020-04-14 08:15] ktf commented on #848
I think this was fixed long ago. Reopen if not the case.

[2020-04-14 08:15] #848 closed

[2020-04-14 08:16] ktf commented on #1614
Closing this as it's not really a bug. Thank you for the insight.

[2020-04-14 08:16] #1614 closed

[2020-04-14 08:16] ktf commented on #1453
I think this was fixed long time ago. Closing.

[2020-04-14 08:16] #1453 closed

[2020-04-14 08:17] ktf commented on #803
I assume this was fixed. Reopen if not the case.

[2020-04-14 08:17] #803 closed

[2020-06-25 11:16] kreisl opened #2321 "GCC toolchain cannot find the system package"
The GCC-Toolchain cannot be picked up from the system if cc is not symlinked to gcc.
The version check
```which cc && test -f $(dirname $(which cc))/c++ && printf "#define GCCVER ((__GNUC__ << 16)+(__GNUC_MINOR__ << 8)+(__GNUC_PATCHLEVEL__))\n#if (GCCVER < 0x070300)\      n#error \"System's GCC cannot be used: we need at least GCC 7.X. We are going to compile our own version.\"\n#endif\n" | cc -xc

[2020-06-25 22:19] #1744 closed

[2020-06-25 22:19] ktf commented on #1744
Should be fixed now as we provide GLFW ourselves.

[2020-06-25 22:21] ktf commented on #570
#2327 shows how this could be done. Closing this, please open more specific issues with the proposed approach, if any.

[2020-06-25 22:21] #570 closed

[2020-07-06 14:09] #1978 closed

[2020-07-06 14:09] ktf commented on #1978
Fixed a while ago.

[2020-07-29 09:58] miltalex opened #2399 "DebugGUI build fails on macOS"
The output:
[code]

Snapshot of the error:
[code]

The full log can be found [here](https://cernbox.cern.ch/index.php/s/Fipt2pquzLfWNTs).
System Version: `macOS 10.14.6`

The files seem to be present:
[code]

[2020-07-29 20:06] ktf commented on #2399
Are you installing the required externals with

[code]

as describe at https://alice-doc.github.io/alice-analysis-tutorial/building/prereq-macos.html#install-the-required-packages ?

[2020-07-30 06:54] miltalex commented on #2399
Yes, I installed the required externals. I even removed the previous version of `aliBuild` and re-installed as the documentation suggested.

Version `19.6-1` of the`o2-full-deps`.

[2020-07-30 07:02] miltalex commented on #2399
Changing the path as you suggested fixed the issue.

Thanks.

[2020-07-30 07:02] #2399 closed

[2020-08-04 12:10] romanovzky opened #2415 "The following development packages have wrong spelling: ROOT"
Hi there,

I don't seem to be able to install ROOT. Following [this](https://alice-doc.github.io/alice-analysis-tutorial/building/build.html), I ran

[code]

and then

[code]
I get the output
[code]

Cheers,
Miguel

[2020-08-20 20:34] ktf commented on #2415
are you building in a container in /?

[2020-09-14 22:00] adriansev opened #2478 "xjalienfs:: independent latest version"
It would be really nice to be able to have an `latest` version that is automatically used by all users/packages.
This would ensure that everybody have the all latest ~~bugs~~features and bug fixes are available to everyone
and would increase the support capability.
ping @ktf @Atlantic777

[2020-09-15 07:27] ktf commented on #2478
This can be done, but you need to disentangle the dependency of AliRoot / O2 from JAlien-Root and handle that at AliEn / alienv level (i.e. by adding the dependency automatically).

[2020-09-15 08:30] adriansev commented on #2478
On Sep 15, 2020 10:27, Giulio Eulisse <notifications@github.com> wrote:
This can be done, but you need to disentangle the dependency of AliRoot / O2 from JAlien-Root erm, xjalienfs have no software or code relation to Jalien ROOT ...the single piece of software that can be used IF present (no matter the version) is the xrootd  python bindings (but if missing it"s fine, when trying to copy somethin

[2020-09-15 09:44] Atlantic777 commented on #2478
@adriansev what do you mean by "links"?

cc @costing

[2020-09-15 10:44] ktf commented on #2478
xjalienfs is loaded as a dependency of Jalien ROOT as it's part of its modulefile.

[code]

If this is unneeded, you should remove the dependency and remove the bit above from the modulefile. For the record, my experience is that doing this kind of "build with one version, run with another" tricks has always side effects and it's a recipe for disaster as hidden dependencies are extremely hard to k

[2020-09-15 11:00] adriansev commented on #2478
Well, i'm complete stranger to alildist/alibuild/alienv mechanics (i'm not even sure if there are the same or have different source of information) but on matter most i was proposing to @Atlantic777 the following:

xjalienfs does not need requires of AliEn-Runtime XRootD and OpenSSL (i would assume that pyOpenSSL is part of python-modules) and XRootD is loaded by other mechanism at runtime (alienv

[2020-09-16 06:01] adriansev commented on #2478
so, after a long and very informative discussion with @Atlantic777 i reached the conclusion that it cannot be done.

[2020-09-16 06:01] #2478 closed

[2020-09-16 09:16] Atlantic777 commented on #2478
To sum up:
  - JAliEn-ROOT doesn't have hard dependency on xjailenfs (compile time)
  - xjalienfs dependency in JAliEn-ROOT is there to trigger building of xjalienfs and auto-load the module
  - xjalienfs should be built, deployed and loaded as part of AliPhysics, AliRoot, O2 and JAliEn-ROOT dependencies and work as standalone package
  - alternative xjalienfs version can already be loaded with al

[2020-10-27 10:50] rbx opened #2567 "pythia6 build fails on ubuntu 20.10"
compiler: gcc 10.2.0
alidist: [8640a273a31766a187df0ad7ad48a1e22344ea5a](https://github.com/alisw/alidist/tree/8640a273a31766a187df0ad7ad48a1e22344ea5a)

Log:
[code]

[2020-10-28 09:47] adriansev opened #2571 "root v6-20-02-alice7 compilation error on fedora 32/gcc10"
Hi! It seems that root v6-20-02-alice7 is too old for gcc10 as per information from
https://root-forum.cern.ch/t/gcc10-compilation-error-std-uniq-ptr-data-root-ttaskgroup-std-default-delete-root-ttaskgroup/41860/3
is it possible to bump our version to recommended 6.20/08 ?
full compilation logs can be found at https://cernbox.cern.ch/index.php/s/qiPJY675DTUxVkh

[2020-10-28 12:19] ktf commented on #2571
Just open a PR with the bump and we see...

[2020-10-28 12:25] adriansev commented on #2571
@ktf well, tried but https://alice.its.cern.ch/jira/browse/ALIROOT-8571  :(

[2020-10-28 14:25] adriansev commented on #2571
@ktf actually with a hint from my colleague Catalin, the compilation succeeded
[code]

maybe this could be added conditionally if gcc major version is > 10? OTOH this was solved in 6.20.08, so if aliroot compilation is fixed, the root version for user-next-root6 could be bumped to 6.20.08

[2020-10-28 15:07] pzhristov commented on #2571
Yes, this worked for me too on Ubuntu 20.04. I am not sure if we use the Root implicit multithreading in our software, may be @sawenzel and @ktf have some ideas.

[2020-10-28 15:15] adriansev commented on #2571
well, even is not used now, for sure it will be. moreover it will also be helpful for local usage as many parts make automatically use of if, see https://root.cern/manual/data_frame/#parallel-execution  .. so, i would think that is better to solve the aliroot problem than to permanently turn imt off

[2020-10-30 10:50] ShiQiu1 opened #2575 "Cannot access alicache"
Hi experts,

it starts a few days ago that compiling aliphysics gives errors saying that it cannot access alicache. What is really the issue here and how to fix it?

`ERROR: GET https://alicache.cern.ch//TARS/slc7_x86-64/store/b2/b26492899c1e2d33f37764947e600564531ea2cb/ failed: HTTPSConnectionPool(host='alicache.cern.ch', port=443): Read timed out. (read timeout=15)`

`WARNING: defaults-release (

[2020-11-03 21:08] ktf commented on #2575
Should be fixed.

[2020-11-04 09:07] marcovanleeuwen opened #2583 "Clang uses system include files instead of GCC-Toolchain ones"
Hi Giulio, all,

I am trying to compile O2 on SL6 (unsupported, I know; the error below may however come to bite us on other platforms as well?) and get an error when aliBuild is doing a test compilation within the clang build script (`$INSTALLROOT/bin-safe/clang++ -v -c test.cc`).

The underlying issue seems to be that it picks up the system gcc and includes, instead of the GCC-Toolchain version:

[2020-11-05 16:29] marcovanleeuwen commented on #1883
Stale/possibly fixed

[2020-11-05 16:29] #1883 closed

[2020-11-10 12:34] marcovanleeuwen commented on #2583
Hi Guilio, all,

I looked a bit more into this and I see the same feature on SL7 with the clang and GCC 7.3 from CVMFS:

clang picks up the include files from the system compiler instead of GCC 7.3.0

[2020-11-10 12:34] pzhristov commented on #2571
I think we can close this issue since now we have Root v6-20-08 in alidist/root.sh.

[2020-11-10 12:34] #2571 closed

[2020-11-15 00:25] adriansev opened #2612 "f33:: tensorflow install issue"
With everything on master, trying to compile i get this:
[code]

any idea about this? this is quite annoying as i doubt that it is useful for user-next-root6 profile..
Thank you!

[2020-11-15 07:21] adriansev commented on #2612
actually this problem is solved by https://github.com/alisw/alidist/pull/2603 - i can confirm that it works.

[2020-11-15 07:21] #2612 closed

[2021-01-12 19:38] davidrohr commented on #1420
@ktf @costing : Today I say that I actually have a lot of similar issues with OpenSSL version conflicts during the O2 build, because system libraries are built against the system OpenSSL 1.1.1, while the alibuilt stuff is still at 1.0.x. In particular, 1.0.x and 1.1.0x are unsupported since end of 2019, so I think we have to bump to 1.1.1.
Do we know what prevents us? I remember there was a proble

[2021-01-12 19:59] costing commented on #1420
See please @Atlantic777 's comment https://github.com/alisw/alidist/pull/2698#discussion_r545715175 on what the status is. If I understand correctly what pulls this dependency back is compatibility with legacy AliEn + ROOT 5 + Xrootd 3.x .

[2021-03-09 09:57] #2575 closed

[2021-03-09 10:10] ktf commented on #1743
I assume this is fixed / not relevant anymore.

[2021-03-09 10:10] #1743 closed

[2021-03-09 10:10] ktf commented on #1621
I assume this is fixed.

[2021-03-09 10:10] #1621 closed

[2021-03-09 10:13] ktf commented on #841
Most likely fixed long time ago. Closing.

[2021-03-09 10:13] #841 closed

[2021-03-09 10:14] ktf commented on #279
Most likely fixed.

[2021-03-09 10:14] #279 closed

[2021-03-09 10:15] ktf commented on #1225
I think this is now fixed. Reopen if not the case.

[2021-03-09 10:15] #1225 closed

[2021-03-10 08:29] ktf commented on #468
Probably not an issue anymore.

[2021-03-10 08:29] #468 closed

[2021-03-11 08:32] ktf commented on #1731
This was long ago, so I am closing. In case this is still needed, please open a PR with your fix to aliphysics.sh, since the fix seems legit.

[2021-03-11 08:32] #1731 closed

[2021-03-11 08:32] ktf commented on #399
Probably fixed at some point.

[2021-03-11 08:32] #399 closed

[2021-03-11 08:33] #509 closed

[2021-03-11 08:35] ktf commented on #1654
I see that we are currently building ROOUnfold on slc6 and deploying on the grid, so I assume this was fixed at some point. Reopen if not the case.

[2021-03-11 08:35] #1654 closed

[2021-03-11 08:35] #545 closed

[2021-03-11 08:37] ktf commented on #1420
I think we fixed this at some point. Reopen if not the case anymore.

[2021-03-11 08:37] #1420 closed

[2021-03-11 08:38] ktf commented on #1312
I think @awegrzyn finally did it. Closing this. Reopen as a PR for the missing places in case. ;-)

[2021-03-11 08:38] #1312 closed

[2021-03-11 08:38] ktf commented on #2107
Now merged. Closing. It will be in the next aliBuild release.

[2021-03-11 08:38] #2107 closed

[2021-03-12 09:12] #375 closed

[2021-03-14 08:47] ktf commented on #1932
For the record, the metaRPM actually exists now. I am closing this.

[2021-03-14 08:47] #1932 closed

[2021-03-30 08:36] lbarnby opened #2930 "Packages built because usage not allowed by policy"
I have a large number of packages for which aliDoctor says:
==> The following packages will be built by aliBuild because
     usage of a system version of it is not allowed or supported, by policy
[see list below]

It seems to me that something is wrong as e.g. Clang is built (with v11.0.0 instead of using v12 from Xcode)

I am using MacOS 10.15.7 (Catalina) with Xcode 12.3 and the command line to

[2021-03-30 14:33] ktf commented on #2930
Clang is correctly built, because the version coming with XCode does not ship with the development libraries. The rest look reasonable. They are all packages which are either ALICE specific, or they are not available from homebrew, or on which ALICE wants to have control on.

[2021-03-30 14:33] #2930 closed

[2021-04-20 11:52] adriansev opened #2974 "VMC deprecation/removal"
Hi! I noticed in https://root.cern/doc/v618/release-notes.html#deprecation-and-removal that vmc is going to be removed.
Is there any plan to add the standalone package? references:
https://github.com/vmc-project/vmc
https://vmc-project.github.io/
so, there would be a need of standalone package. If there are no plans, i can do it. what would be a good recipe to take as example?

[2021-04-21 09:44] ihrivnac commented on #2974
Hi @adriansev,
Indeed, there is agreement with the ROOT project that vmc will be removed, so we will need to switch to VMC stand-alone.
You can follow the recipe of geant4_vmc.sh, as its cmake configuration files are defined in the same way as those in vmc, but remove the dependencies on GEANT4 and vgm (the only dependence of vmc is on ROOT). Then, you need to search for ENABLE_VMC: "ON" in the de

[2021-06-16 14:55] adriansev opened #3102 "el7 python build error in singularity container"
I'm trying to build aliphysics/aliroot in a el7 singularity container but i get this error when building python:
https://asevcenc.web.cern.ch/asevcenc/el7error_python/log.txt

The problem is that there is no mention on the error until the very end where i get:
[code]

but pip seems to be fine:
[code]

but it is true that in path both pip3.6 and pip3.9 are found ..

So, any idea what is going on? I

[2021-07-15 08:50] davidrohr opened #3164 "FairMQ fails to build with system flatbuffers, if system flatbuffers were not compiled with -fPIC"
This problem appears for me in a CentOS8 container, when installing the system package for flatbuffers.
It is picker up, but it is not compatible to FairMQ after some recent changes, since it was not compiled with -fPIC.
I think this is related to the recent fix for FairMQ, so it is actually intended. Probably we need to add a check in the prefer-system-check of flatbuffers that it was build with

[2021-07-15 08:54] ktf commented on #3164
Is flatbuffers in fairmq used for anything critical? I am not sure there is any simple way to detect -fPIC...

[2021-07-15 08:55] ktf commented on #3164
In any case we would have the same problem with arrow, actually... Given flatbuffers is small, I would simply compile our own copy always...

[2021-07-15 08:58] rbx commented on #3164
flatbuffers is used for the SDK Commands that fly between ODC and DDS plugin.
We are in the process of moving SDK code to the ODC repository. As ODC already uses protobuf for other stuff, we will likely change the commands implementation to use protobuf instead of flatbuffers. But this is very low priority, as it currently works fine as it is.

[2021-07-15 09:02] ktf commented on #3164
I actually like flatbuffers more than protobuf. That said, let's just always pick it up from the system.

[2021-07-15 11:41] davidrohr commented on #3164
PR #3165

[2021-07-15 11:41] #3164 closed

[2021-07-20 14:18] mathieuboudreau opened #3176 "No onnxruntime version found for my system (MacOS 11.3.1)"
Hi all,

I'm currently trying to add IVADOMED to our (AxonDeepSeg's) environment file, however I get this error:

[code]

When I try to install it without a restricted version, no versions are found:

[code]

Here is my conda environment file:

[code]

I am using MacOS 11.3.1 (M1 ARM-based CPU) and [MiniForge](https://github.com/conda-forge/miniforge).

[2021-07-20 14:20] mathieuboudreau commented on #3176
Woops, I somehow opened this issue in the wrong tab; so sorry.

[2021-07-20 14:20] #3176 closed

[2021-08-04 10:51] adriansev opened #3210 "OpenSSL :: we need OpenSSL 1.0.x to build XrootD"
@ktf i'm pretty sure that for both 4.x and latest 5.x branch this is no longer the case ..
maybe would be worth to remove this requirement for any xrootd > 3 ?

[2021-08-13 07:28] alibuild commented on #3210
That's fine for me, provided @costing or Latchezar give green light. Can you prepare a PR with what you think needs to be changed?

[2021-08-13 07:58] adriansev commented on #3210
yes, i can do it, but first i would like to get the green light AND corner cases (i think that for root 5 and the corresponding xrootd 3, there is still a need for old openssl .. i think that if i add an openssl override the way that the xrootd one is done here https://github.com/alisw/alidist/blob/master/defaults-release.sh#L27 should be enough) ... i will get back with the PR and discuss things

[2021-08-16 14:26] adriansev commented on #3210
@ktf i have a first version at #3225 ... i'm not sure if i covered all cases and if i got right the selection rules, but i will follow the errors and ask for advice/review when the tests are green

[2021-08-16 16:59] adriansev commented on #3210
closed as not acked by @costing

[2021-08-16 16:59] #3210 closed

[2021-08-18 23:23] ktf commented on #3102
Is this still an issue?

[2021-08-19 06:09] adriansev commented on #3102
@ktf yes, it is, see https://asevcenc.web.cern.ch/asevcenc/alibuild_err/python_log
the strange thing is that i do not notice any error while building just in the finishing step ..
also, i noticed this :
[code]

which i'm not sure it's ok as the rest of the stuff i see is used from
`copying build/scripts-3.6/pyvenv-3.6 -> /home/physics-tools/alicebuild/sw/INSTALLROOT/f1021c3972cd4eb788c5cfa2aeb6940

[2021-10-19 13:26] jezwilkinson commented on #3102
Bumping this as issue also seen with a singularity container built from the slc7-builder image: https://hub.docker.com/r/alisw/slc7-builder (which had previously worked fine but stopped last week), with similar output in the log:  https://cernbox.cern.ch/index.php/s/QMC5p07zcbv8PdQ/download

Passing `--no-home` or `--containall`  when running `singularity shell` (which skips mounting the user's $H

[2021-12-03 08:11] maroozm opened #3629 "python-modules"
Hello everyone,
       Is there a specific reason that PIP39 requires scipy 1.5 and PIP38 requires 1.6. It gave me a lot of issues on fedora 34. Thanks

[2021-12-03 09:12] ktf commented on #3629
No, not really. Please provide a PR to change it.

Ciao,
Giulio

On Fri, Dec 03, 2021 at 09:11:20, Salman KMalik ***@***.***>
wrote:

[2021-12-07 13:19] #3629 closed

[2021-12-24 16:11] ktf commented on #565
Done where it could be done.

[2021-12-24 16:11] #565 closed

[2022-01-28 11:12] adriansev commented on #2974
this was already solved, so i will close this

[2022-01-28 11:12] #2974 closed

[2022-03-22 08:40] adriansev opened #3986 "autotools m4 breaks on glibc >= 2.34"
so, for glibc >= 2.34, m4 compilation will break with
[code]
this is due to https://sourceware.org/pipermail/libc-alpha/2021-August/129718.html
[code]

this will break on Fedora 35 and Ubuntu 21.10
this was seen trying `--no-system` on fedora 35 as the system gcc toolchain breaks compilation with weird asm compilation breakage

[2022-03-22 12:36] ktf commented on #3986
For non-production platforms, please provide a pull request with the fix you suggest, so that we can discuss.

[2022-03-22 12:36] #3986 closed

[2022-04-23 22:01] drsh2306 commented on #2567
Ubuntu 20.10
EOL: 22.7.2021

[2022-04-23 22:04] drsh2306 commented on #1653
SL6 eol 30.11.2020

[2022-05-26 10:50] RenEjima opened #4232 "JAliEnROOT.so is not available at MFT-MCH matching workflow"
Hi,

When I tried to MFT-MCH track matching with following command after I got mfttracks.root and mchtracks.root and so on,

`o2-globalfwd-matcher-workflow -b`

I got following error. I think this error message says CTP/Calib/OrbitReset/... on CCDB is not unaccessible because JAliEnROOT.so does not existing. I guess some lines are necessary for JAliEnROOT.sh, but I'm not sure. How do you think?

[

[2022-05-29 12:22] #4232 closed

[2022-07-04 07:49] maroozm opened #4346 "HepMC3 fails on centos7"
HepMC3 build fails on centos7 at rootIO with command
`aliBuild build HepMC3`
[Full log here](https://cernbox.cern.ch/index.php/s/SFv0t1J8bqdjjUZ)

`[ 78%] Built target HepMC3
make  -f search/CMakeFiles/HepMC3search.dir/build.make search/CMakeFiles/HepMC3search.dir/depend
make  -f rootIO/CMakeFiles/HepMC3rootIO.dir/build.make rootIO/CMakeFiles/HepMC3rootIO.dir/depend
make[2]: Entering directory `/h

[2022-07-04 07:55] maroozm opened #4347 "Rivet build fails centos7"
Rivet build fails on centos7 and ubuntu 20 with a similar as on these links:
https://alice-talk.web.cern.ch/t/configure-error-a-compiler-with-support-for-c-14-language-features-is-required/919
https://github.com/mapnik/mapnik/issues/4226
I dont know if the problem can be reproduced but the problem seems to be with the option:
`${CXX11:+--enable-stdcxx11}`
As soon as I replace it with `-fPIC`. It c

[2022-07-28 10:38] TomoIto-hu opened #4410 "Build error on macOS(Big Sur 11.6.8)"
I built on macOS(Big Sur 11.6.8) but this error occurred in log.

clang: error: linker command failed with exit code 1 (use -v to see invocation)

Procedure was as follow
     1 Get Xcode
     2 Get Homebrew

      3 Install the required package

      4 create ~/.zprofile and add

      5 add command to ~/.bashrc

      6 Prepare source code(O2 only)

      7 Build at directory ”alice” (now)

I t

[2022-08-18 02:00] hanseopark commented on #4410
same errors

[2022-09-01 01:01] ctolon opened #4502 "Building UUID@v2.27.1 Failed on Ubuntu 22.04 (Solution Provided)"
LOG:

[code]

Dear Experts,
Do you have any suggestions for this issue?

Edit: I solved the problem with: `sudo apt-get -y install gtk-doc-tools`
I also get error when building lhapdf@v6.2.1-alice2
Solution : `sudo apt-get install python-dev-is-python3`

I had this problem when I upgraded ubuntu 20.04 to 22.04, It was solved after installing them, is it possible to check dependencies for ubuntu 22

[2022-09-14 22:34] #4502 closed